.header {
  text-align: center;
  background: #153f59;
  color: white;
  font-size: 20px;
  font-weight: normal;
  height: 150px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.bg-button {
  background-color: darkseagreen;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.card {
  margin-top: -50px;
  // width: 95%;
}

.table-container {
  position: relative;
  border-radius: 8px;
}

.feather {
  font-family: feather !important;
  // speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// element.style {}
.card .card-header .card-header-right .btn.dropdown-toggle i {
  margin-right: 0;
}

.feather {
  // speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card .card-header .card-header-right .btn.dropdown-toggle {
  color: #888;
}

.fa-list-ul {
  cursor: pointer;
}

.fa-list-ul:hover {
  color: #63c2de;
}


.xx{
  width: 100%;
}

.table-responsive {
  display: block;
  width: 100%;
  max-height: 400px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
