<div class="page-layout simple tabbed">
  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>

<div class="col-12">
  <div class="card animated fadeIn slow">
        <div  class="card-header">
          <div class="well well-lg card card-block card-header mt-2 mb-0 border-0">
          <div class="row">
            <div class="col-md-4">
              <h3 >Interfaces</h3>
             </div>
            <div class="col-md-4 offset-md-4 text-right">
              <button type="button" class="btn btn-blue" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                       <i class="fa fa-sliders fa-lg "></i>
              </button>
            </div>
          </div>
          <div id="collapseBasic" [collapse]="isCollapsed" class="animated fadeIn slow">
              <form class="form-horizontal" [formGroup]="form">
                <div class="form-group row align-items-end justify-content-end mt-5">
                  <div class="col-md-3 col-sx-4 ">
                    <label >Seleccionar Interface</label>
                    <select class="form-control" formControlName="code">
                      <option [ngValue]="null" disabled>Opciones</option>
                      <option *ngFor="let item of interfaces" [value]="item?.code" >
                        {{ item?.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sx-4">
                    <label >Tipo de reporte</label>
                    <select class="form-control" formControlName="type_report">
                      <option *ngFor="let item of typeReport" [value]="item?.id" >
                        {{ item?.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sx-3 " >
                    <label >Seleccionar fecha</label>
                    <input type="text" class="form-control"
                           placeholder="Desde/Hasta"  
                           bsDaterangepicker  
                           formControlName="start_date"  
                           [bsConfig]="bsConfig"  
                           placement="left"
                           [(ngModel)]="bsRangeValue"/>      
                  </div>
                  <div class="col-sx-2 col-sx-2 " >
                        <button type="button" [disabled]="form?.invalid" class="btn btn-blue" (click)="filter()">Filtrar</button>
                  </div>
                   <div *ngIf="dataReport && dataReport.length > 0" class="col-sx-2 col-sx-2 text-right ml-3 animated fadeIn slow" >
                      <button type="button" 
                              class="btn btn-success btn-filter" 
                              placement="top" 
                              tooltip="Exportar excel"  
                              container="body"
                             (click)="downloadExcel()">
                          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                      </button>
                    </div>
                  <div class="col-md-12 mt-3">
                        <table class="table animated fadeIn slow table-xs mb-0 mt-3" *ngIf="dataReport && dataReport.length > 0">
                          <thead >
                            <tr>
                              <th>Fichero &nbsp;&nbsp;&nbsp;&nbsp;</th>
                              <th>Linea de transacci&oacute;n &nbsp;&nbsp;&nbsp;&nbsp;</th>
                              <th>Fecha de proceso &nbsp;&nbsp;&nbsp;&nbsp;</th>
                              <th class="text-capitalize" *ngFor="let item of keys" placement="top" [tooltip]="item"  container="body">{{item | textTransform:5}} &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let row of dataReport; let i=index;">
                            <td placement="top" [tooltip]="row?.file"  container="body">
                              {{row?.file | slashTransform | textTransform}} &nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td placement="top" [tooltip]="row?.linea"  container="body">
                              {{row?.linea | textTransform:10}} &nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td placement="top" [tooltip]="row?.time"  container="body">
                              {{row?.time | textTransform:10}} &nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td *ngFor="let item of values" 
                                placement="top" 
                                [tooltip]="item[i]"  
                                container="body">{{item[i] | textTransform:10}} &nbsp; &nbsp;&nbsp;&nbsp;</td>                            
                          </tr>
                          </tbody>
                        </table>
                      
                      <div  *ngIf="noData" class="alert alert-primary animated fadeIn slow text-center" role="alert">
                          <label class="mr-3">{{noDataMessage}}</label>
                      </div>
                    
                  </div>
                    <div *ngIf="dataReport && dataReport.length > 0" class="col-md-12 mt-3">
                      <mat-paginator
                          (page)="handlePageEvent($event)"
                          [length]="totalItems"
                          [pageSize]="pageSize"
                          [showFirstLastButtons]="showFirstLastButtons"
                          [pageSizeOptions]="pageSizeOptions"
                          [pageIndex]="pageIndex">
                      </mat-paginator>
                    </div>
                  </div>
                </form> 
          </div>
          </div>
      </div>
  </div>
</div>
