::ng-deep {
  .modal-content {
    border: 0 !important;
  }

  .text-danger {
    font-size: 10px;
  }
}

.modal-footer {
  border-top: unset;
}

.btn-blue {
  background: #153f59;
  color: white;
}

.btn-red {
  color: red;
}
.mtt-20 {
  margin-top: 20px;
}
.shemasRoles {
  height: 220px;
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
}

.text-area {
  width: 100%;
  height: 114px;
  font-size: 12px;
}

.form-group {
  margin-bottom: 0.3rem;
}
.m-10 {
  margin: 10px;
}
.mll-10 {
  margin-left: 10px!important;
}
.mbb-30 {
  margin-bottom: 30px;
}
.mbb-74 {
  margin-bottom: 74px;
}
.mbb-76 {
  margin-bottom: 76px!important;
}
.mbb-0 {
  margin-bottom: 0!important;
}
.mttm-30 {
  margin-top: -30px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

#regForm {
  background-color: #ffffff;
  margin: 0;
}


#prevBtn {
  background-color: #153f59;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step_active {
  background-color: #153f59 !important;
  opacity: 0.7;
}

.step.finish {
  background-color: #4CAF50
}

.all-steps {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.w-30 {
  width: 30%;
  height: 30%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


@media(max-width: 576px) {
  img {
    display: none;
  }
}
select option[disabled] {
  color: #dddddd;
}
