 <div class="modal-heade bg-dark ">
  <div class="card-header btn-blue text-white">
    Registrar usuario
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="handelCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="row">

   <div class="col-lg-6 col-sm-6" *ngIf="!step2" >
      <img src="assets/img/register.jpeg" class="mt-5" height="70%" width="90%" alt="">
    </div>

    <div  [ngClass]="{'col-lg-12 col-sm-12' : step2, 'col-lg-6 col-sm-6' : !step2}" >
      <form  class="form-horizontal" [formGroup]="formModal" (change)="onChange()">
        <div class="col">
             <div class="col-md-12">
                 <div class="all-steps" id="all-steps">
                   <span class="step" [ngClass]="{'step_active': step1}"></span>
                   <span class="step" [ngClass]="{'step_active': step2}"></span>
                   <span class="step" [ngClass]="{'step_active': step3}"></span>
                  </div>

                 <div class="tab animated fadeIn slow" [hidden]="!step1">
                  <label class="fw-bold">Datos de la cuenta</label>
                   <div class="form-group row">
                     <div class="col-md-12">
                       <label>Usuario</label>
                       <div class="form-group mb-2">
                         <input type="text"
                                formControlName="username"
                                appValidateNotBlank
                                 onlyLetters
                                 maxlength="20"
                                [class.is-invalid]="usernameInvalid || usernameInvalidLength"
                                [class.is-valid]="usernameValid"
                                class="form-control"
                                placeholder="Usuario">
                       </div>
                       <span *ngIf="usernameInvalid" class="text-danger float-right">
                       Campo requerido *
                      </span>
                       <span *ngIf="usernameInvalidLength" class="text-danger float-right">
                       Campo debe contener al menos 3 caracteres *
                      </span>
                     </div>
                   </div>
                  <div class="form-group row">
                    <div class="col-md-12 mbb-74">
                      <label>Email</label>
                      <div class="form-group mb-2">
                        <input  type="email"
                                formControlName="email"
                                appValidateNotBlank
                                required
                                [class.is-invalid]="emailInvalid || emailRequired"
                                [class.is-valid]="emailValid"
                                class="form-control"
                                placeholder="Email">
                      </div>
                      <span *ngIf="emailInvalid" class="text-danger float-right">
                         Campo inválido *
                        </span>
                      <span *ngIf="emailRequired" class="text-danger float-right">
                         Campo requerido *
                        </span>
                    </div>
                  </div>
                </div>

                <div class="tab animated fadeIn slow" [hidden]="!step2">
                  <div class="form-group row">
                    <div class="col-8">
                      <label class="fw-bold">Empresas asociadas y permisos</label>
                    </div>
                     <div class="col-4 text-right">
                       <button [placement]="'left'" [disabled]="getSchemasRoles?.controls?.length === enterprise?.length"
                               [tooltip]="'Adicionar empresa y rol'" class="btn btn-blue" (click)="add()"><i class="fa fa-pencil-square-o"></i></button>
                    </div>
                   </div>
                   <div formArrayName="schemasRoles" class="shemasRoles">
                    <div *ngFor="let item of getSchemasRoles.controls; let i = index" [formGroupName]="i">
                      <div class="form-group row align-items-center">
                       <div class="col-5">
                         <label>Empresa</label>
                            <div class="form-group">
                            <select formControlName="schemaName"
                                    (change)="onSelectEnterprise($event.target.value)"
                                    class="form-control">
                           <option value="null" disabled>Seleccionar empresa</option>
                           <option [value]="item?.code" *ngFor="let item of enterprise" [disabled]="disabledEnterprise(item)">
                             {{item.name}}
                           </option>
                           </select>
                         </div>
                        <span *ngIf="enterpriseInvalid(i)" class="text-danger float-right">
                          Campo requerido *
                        </span>
                       </div>
                       <div class="col-5">
                         <label>Rol</label>
                         <div class="form-group" [ngClass]="{'mbb-0': rolInvalid(i)}">
                            <select formControlName="role" class="form-control">
                               <option value="null" disabled>Seleccionar rol</option>
                               <option [value]="item?.id" *ngFor="let item of rolesAdd[i]?.roles">
                                  {{item?.name}}
                               </option>
                            </select>
                         </div>
                        <span *ngIf="rolInvalid(i)" class="text-danger float-right">
                          Campo requerido *
                        </span>
                       </div>
                        <div *ngIf="i !== 0"  class="col-2">
                           <button  [placement]="'top'" [tooltip]="'Eliminar empresa y rol'" class="btn btn-red mtt-20" (click)="removeSchemasRoles(i, item)"><i class="fa fa-trash mbo-5"></i></button>
                        </div>
                     </div>
                    </div>
                   </div>
                </div>

                <div class="tab animated fadeIn slow" [hidden]="!step3">
                  <label class="fw-bold">Datos personales:</label>
                   <div class="form-group row mt-10">
                     <div class="col-md-12">
                       <label>Nombre</label>
                       <div class="form-group">
                         <div class="input-group">
                           <input  type="text"
                                    formControlName="name"
                                    appValidateNotBlank
                                     onlyLetters
                                    maxlength="20"
                                   [class.is-invalid]="nameInvalidLength"
                                   autocomplete="off"
                                   class="form-control"
                                   placeholder="Nombre (opcional)">
                         </div>
                       </div>
                         <span *ngIf="nameInvalidLength" class="text-danger float-right">
                        El campo debe contener al menos 3 caracteres *
                      </span>
                     </div>
                   </div>
                   <div class="form-group row mbb-76">
                     <div class="col-md-12">
                       <label>Apellido</label>
                       <div class="form-group">
                         <div class="input-group">
                           <input  type="text"
                                    formControlName="lastName"
                                    appValidateNotBlank
                                     onlyLetters
                                    maxlength="20"
                                   [class.is-invalid]="lastNameInvalidLength"
                                   autocomplete="off"
                                   class="form-control"
                                   placeholder="Apellido (opcional)">
                         </div>
                       </div>
                         <span *ngIf="lastNameInvalidLength" class="text-danger float-right">
                        El campo debe contener al menos 3 caracteres *
                      </span>
                     </div>
                   </div>
                </div>

                 <div class="modal-footer ">
                   <div class="row">
                     <div class="text-right">
                       <button *ngIf="step2 || step3 && !spinner" class="btn btn-blue" type="button" id="prevBtn" [disabled]="hiddenButton || spinner" (click)="nextPrev(step2?-1:1)" >Anterior</button>
                       <button *ngIf="step1 || step2" class="btn btn-blue mll-10" type="button" id="nextBtn"
                               [disabled]="disabledNext()" (click)="nextPrev(step1?1:2)">Siguiente</button>
                       <button *ngIf="step3 && !spinner" type="submit" (click)="handelSave()" class="btn btn-blue mll-10" [disabled]="disabledNext()">
                         <span>Guardar</span>
                       </button>
                       <button *ngIf="spinner"  class="btn btn-blue mll-10" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Guardando...
                      </button>
                      </div>
                   </div>
                 </div>
             </div>
        </div>

      </form>
    </div>

  </div>
</div>
