<div class="page-layout simple tabbed">
  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>

  <div class="card ml-30">
    <div  class="card-header">
      <div fxLayout="row">
        <h3>Generar carga de interfaz</h3>
      </div>
      <hr>
      <div class="ml-10">
          <form class="form-horizontal" [formGroup]="add_interface_form">
            <div class="form-group row">
              <div class="col-md-3">
                <label >Nombre de la interfaz</label>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      formControlName="load_name"
                      type="text"
                      class="form-control"
                      placeholder="Nombre de la interfaz"
                      [class.is-invalid]="loadNameNotValid"
                      [class.is-valid]="loadNameValid"
                      maxlength="30">
                  </div>
                  <span *ngIf="loadNameNotValid" class="text-danger float-right">
                    Campo requerido *
                  </span>
                </div>
              </div>

              <div class="col-md-3">
                <label>Formato del template</label>
                <div class="form-group">
                  <div class="input-group">
                    <select #mySelect (change)='onOptionsSelected(mySelect?.value)' formControlName="format_template" class="form-control">
                      <option [ngValue]="null" disabled>Seleccione un formato</option>
                      <option [value]="form?.id" *ngFor="let form of templates">
                        {{ form?.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 row-btn">
                <div class="form-group">
                  <div class="input-group">
                    <input
                        formControlName="file_name"
                        type="test"
                        align="center"
                        readonly
                        class="form-control text-right">
                    <button type="button" title="Subir archivo" class="btn btn-sm btn-blues ml-10" (click)="file?.click()"> <i class="fa fa-upload"></i></button>
                      <input #file type="file" id="file" (change)="handleFileInput($event?.target?.files)" style="display:none;">
                    <button class="ml-10 btn btn-md btn-blues float-right" (click)="validarFormato()">Ejecutar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <input type="checkbox" [checked]="status" (change)="changeStatus($event)">
              El archivo contiene cabecera<ng-template #popTemplate><div [innerHtml]="message"></div></ng-template>
              <span class="fa fa-question"
                      [tooltip]="popTemplate" placement="bottom">
              </span>
            </div>
            <div class="col-md-12 responseDiv" [innerHTML]="responseMessage">
            </div>
            <div *ngIf="selectTemplate">
              <div  class="table-responsive">
                <table class="table table-xs">
                  <thead>
                  <tr>
                    <ng-container *ngIf="!hasKies">
                      <th *ngFor="let col of columsHeader;" placement="top" [tooltip]="capitalizeString(col?.name) +' '+ [col?.length]"  container="body">{{capitalizeString(col?.name) | textTransform}}</th>
                    </ng-container>
                    <ng-container *ngIf="hasKies">
                      <th *ngFor="let col of columsHeader;" placement="top" [tooltip]="capitalizeString(col.name)"  container="body">{{capitalizeString(col.name) | textTransform}}</th>
                    </ng-container>
                  </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="hasKies">
                        <tr *ngFor="let kies of fileKies; let i = index">
                            <ng-container *ngIf="processed">
                                <td  *ngFor="let k of kies" placement="top" [tooltip]="k"  container="body">
                                    {{k | textTransform}}
                                </td>
                            </ng-container>
                            <ng-container *ngIf="!processed" placement="top" [tooltip]="k"  container="body">
                                <td style="color: red;" *ngFor="let k of kies" placement="top" [tooltip]="k"  container="body">
                                    {{k | textTransform}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="mt-20">
              <div class="m-10 row-connection">
                <div class="mtp-5">
                  Hora de la carga
                 </div>
                <div class="col-md-5 mbm-0">
                  <input
                    class="form-control"
                    readonly
                    name="cron"
                    formControlName="cronForm"
                    [value]="cronValue">
                </div>
              </div>
              <div class="card mt-0 w-100">
                <div class="form-group cron-class my-vertical-cron" id="crontab" #crontab>
                  <quartz-cron [formControlName]="'cronForm'" [(ngModel)]="cronValue"></quartz-cron>
                </div>
              </div>
              <div class="m-10 mt-20">
                Datos de conexión
              </div>
              <div class="card mt-0 w-100">
                <div class="form-group row-connection mbm-0">
                  <div class="col-md-3 mtp-15">
                      <label>Tipo de conexión</label>
                      <div class="form-group">
                        <div class="input-group">
                          <select #mySelectOrigin (change)='onConnectionTypeSelected(mySelectOrigin?.value)' [(ngModel)]='connSelect' formControlName="connection_type" class="form-control">
                            <option [ngValue]="null" disabled>Selecione un tipo</option>
                            <option [value]="form?.tc_origin" *ngFor="let form of conection_origen">
                              {{ form?.tc_origin }}
                            </option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6 mtp-15" *ngIf="urlSelected">
                    <label>Url origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_url"
                              [class.is-invalid]="connectionUrlNotValid"
                              [class.is-valid]="connectionUrlValid"
                              class="form-control"
                              placeholder="http://www.ejemplo.com">
                    </div>
                    <span *ngIf="connectionUrlNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15" *ngIf="sftpSelected">
                    <label>Dirección IP origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_ip"
                              [class.is-invalid]="connectionIpNotValid"
                              [class.is-valid]="connectionIpValid"
                              class="form-control"
                              placeholder="127.0.0.1"
                              pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
                    </div>
                    <span *ngIf="connectionIpNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15" *ngIf="sftpSelected">
                    <label>Ruta de origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_folder"
                              [class.is-invalid]="connectionFolderNotValid"
                              [class.is-valid]="connectionFolderValid"
                              class="form-control"
                              placeholder="/user/sftp/in/">
                    </div>
                    <span *ngIf="connectionFolderNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15">
                    <label>Puerto</label>
                    <div class="form-group">
                      <input  type="number"
                              required
                              formControlName="connection_port"
                              [class.is-invalid]="connectionPortNotValid"
                              [class.is-valid]="connectionPortValid"
                              class="form-control"
                              placeholder="Puerto">
                    </div>
                    <span *ngIf="connectionPortNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                </div>
                <div class="form-group row-connection mbm-0">
                  <div class="col-md-6 mbm-0">
                    <label>Nombre de usuario</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_user_name"
                              [class.is-invalid]="connectionUserNameNotValid"
                              [class.is-valid]="connectionUserNameValid"
                              class="form-control"
                              placeholder="Usuario">
                    </div>
                    <span *ngIf="connectionUserNameNotValid" class="text-danger float-right">
                        Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-6 mbm-0">
                    <label>Contraseña</label>
                    <div class="form-group">
                      <input  type="password"
                              required
                              formControlName="connection_password"
                              [class.is-invalid]="connectionPasswordNotValid"
                              [class.is-valid]="connectionPasswordValid"
                              class="form-control"
                              placeholder="Contraseña">
                    </div>
                    <span *ngIf="connectionPasswordNotValid" class="text-danger float-right">
                          Campo requerido *
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <button [disabled]="disableTestConnection"
                    class="btn btn-sm btn-blues mr-20 mtp-15 float-right" (click)="handelTestConnection()">Probar Conexión</button>
                </div>
              </div>

            </div>
            <div class="form-group form-actions row float-right mr-20">
              <button [disabled]="add_interface_form?.invalid " class="btn btn-md btn-blue" (click)="SaveInterface()">Guardar</button>
            </div>
          </form>
      </div>


    </div>
  </div>
</div>
