<div class="container">
	<div class="img">
	</div>
	<div class="login-content">

		<form [formGroup]="form" class="w-100 h-100">
      <div class="logo mbt20">
        <img class="br-50" src="/assets/img/logo.jpeg"  alt="">
      </div>
      <div [ngClass]="{'input-div2' : userNameValid, 'mbb-0': userNameInvalid || isErrorUser}"  class="input-div one">
				<div class="i">
					<i   class="fa fa-user"></i>
				</div>
				<div class="div" >
					<h5>Usuario</h5>
					<input type="text" formControlName="user_name" class="input"
                 [disabled]="disableUser"
                 (change)="OnChange($event)"
                 (click)="OnClickUser()"
							[class.is-invalid]="userNameInvalid || isErrorUser">
				</div>
			</div>
      <span *ngIf="userNameInvalid" class="text-danger float-right">
           {{'Campo requerido.'}}
      </span>
      <span *ngIf="isErrorUser" class="text-danger float-right">
           {{errorUser}}
      </span>
			<div [ngClass]="{'input-div2' : passwordValid, 'mbb-0': passwordInvalid || isErrorPass}" class="input-div pass">
				<div class="i">
					<i class="fa fa-lock"></i>
				</div>
				<div class="div">
					<h5>Contraseña</h5>
					<input formControlName="password" class="input"
                 [type]="hidePassword ? 'password' : 'text'"
							[class.is-invalid]="passwordInvalid"
                 (click)="OnClickPass()">
          <div class="input-group-addon">
            <a type="button" class="dropdown-item btn-white text-white text-right" (click)="hidePassword = !hidePassword">
              <i class="fa icon"  aria-hidden="true" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}"></i>
            </a>
          </div>
				</div>
			</div>
      <span *ngIf="passwordInvalid" class="text-danger float-right">
           {{'Campo requerido.'}}
      </span>
      <span *ngIf="isErrorPass" class="text-danger float-right">
           {{errorPass}}
      </span>
      <div [hidden]="!enterpriseByUser || enterpriseByUser?.length<=1">
        <div [ngClass]="{'input-div2' : enterpriseValid, 'mbb-0': enterpriseInvalid}" class="input-div">
          <div class="i">
            <i class="fa fa-list-alt "></i>
          </div>
          <div class="div">
            <h5 *ngIf="!enterpriseInvalid">Empresa</h5>
            <select class="select" formControlName="enterprise"
                    [class.is-invalid]="enterpriseInvalid">
              <option [value]="enterprise?.code" *ngFor="let enterprise of enterpriseByUser">
                {{ enterprise?.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <span *ngIf="enterpriseInvalid" class="text-danger float-right">
           {{'Campo requerido.'}}
      </span>
			 <button type="button" (click)="handelSave()" [disabled]="form?.invalid || isErrorUser || isErrorPass || spinner" class="btn mt-5 btn-blue">
         <span>{{!spinner? 'Iniciar': 'Iniciando...'}}</span>
         <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
       </button>

      <div class="div color-blue float-right mbb-10" [routerLink]="['/register']">
         <h6>Regístrate</h6>
      </div>
      <div class="div color-blue float-left" (click)="getForgotPassword()">
        <h6 class="float-right">Reestablecer contraseña</h6>
      </div>
		</form>
	</div>
</div>
