<div class="page-layout simple tabbed">
  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>

  <div class="card ml-30">
    <div  class="card-header">
      <div fxLayout="row">
        <h3>Editar configuraci&oacute;n conciliaci&oacute;n</h3>
      </div>
      <hr>
      <div class="ml-10">
        <form class="form-horizontal" [formGroup]="newForm">
          <div class="form-group row">
            <div class="col-md-3">
              <label >Nombre de la conciliaci&oacute;n</label>
              <div class="form-group">
                <div class="input-group">
                  <input
                    formControlName="conciliation_name"
                    type="text"
                    class="form-control"
                    placeholder="Nombre de la conciliaci&oacute;n"
                    [class.is-invalid]="conciliationNameNotValid"
                    [class.is-valid]="conciliationNameValid"
                    maxlength="30">
                </div>
                <span *ngIf="conciliationNameNotValid" class="text-danger float-right">
                    Campo requerido *
                  </span>
              </div>
            </div>
          </div>

          <div class="mt-20">
            <div class="m-10 row-connection">
              <div class="mtp-5">
                Hora de la configuraci&oacute;n
              </div>
              <div class="col-md-5 mbm-0">
                <input
                  class="form-control"
                  readonly
                  name="cron"
                  formControlName="cronForm"
                  [value]="cronValue">
              </div>
            </div>
            <div class="card mt-0 w-100">
              <div class="form-group cron-class my-vertical-cron">
                <quartz-cron [formControlName]="'cronForm'" [(ngModel)]="cronValue"></quartz-cron>
              </div>
            </div>

          </div>
        </form>
        <form class="form-horizontal" [formGroup]="form">
          <div class="mt-20">
            <div class="row justify-content-between">
              <div class="col-md-12">
                <h4>Interfaces de pareo</h4>
              </div>
            </div>
              <hr>
              <div class="row justify-content-between">
              <div class="col-4">
                <div class="input-group">
                  <select #mySelect (change)="onInterfaceSelected(mySelect?.value)" formControlName="interface_name" class="form-control">
                   <option value="null" disabled>Seleccione</option>
                    <option [value]="item?.id" *ngFor="let item of interfaces">
                      {{ item?.name }}
                    </option>
                  </select>
                </div>
              </div>   
              <div class="col-4 offset-1">
                <div  *ngIf="selectedItems && selectedItems.length > 0"  class="form-group">
                  <label class=" animated fadeIn slow">
                    Interfaces seleccionadas: {{ selectedItems.length }}
                  </label>
                  <div class=" animated fadeIn slow">
                    <span
                    class="badge badge-pill badge-primary p-2 mr-2 mb-2"
                    *ngFor="let item of selectedItems">
                    {{ item?.name }}
                    </span>
                  </div>
                </div>
              </div>    
              <div class="col-md-3">
                <button type="button" class="btn btn-blue  btn-md animated fadeIn slow" (click)="resetkey()"  *ngIf="tabs.length">
                  Reiniciar llave
                </button>
                <button type="button" class="btn btn-blue float-right btn-md animated fadeIn slow" (click)="reset()"  *ngIf="tabs.length">
                  Limpiar
                </button>
              </div>     
            </div>


            <!-- <div class="mt-20 mb-5  animated fadeIn slow"  >
            <hr>
            <div class="row mb-5 align-items-end animated fadeIn slow">
              <div class="col-md-4"> 
                <h4>Salida</h4>
              </div>
             
            </div>
            <div class="row">
              <div class="col-3 align-self-end mb-5">
                <label>Seleccionar destino de salida</label>
                    <select class="form-control" formControlName="out">
                      <option value="" selected>Seleccione</option>
                      <option [value]="item?.id" *ngFor="let item of dataSource">
                        {{ item?.name }}
                      </option>
                    </select> 

              </div>
              <div class="col-3 align-self-end mb-5">
               <label>Seleccionar transacciones de salida</label>
                <select class="form-control" formControlName="typeConciliation" >
                  <option [value]="item?.id" *ngFor="let item of typeConciliation">
                    {{ item?.name }}
                  </option>
                </select> 
              </div>
            </div>
            
            <div formArrayName="interfaces" *ngIf="selectedItems && selectedItems.length > 0">
              <div class="row">
              <div *ngFor="let j of getInterface.controls; let i = index" [formGroupName]="i" class="col-6">
                <div class="row mt-3">
                  <div class="col-6 align-self-end">
                     <label>Nombre de la interfaz</label>
                    <input disabled type="text" formControlName="name" class="form-control">
                   
                  </div>
                    <div class="col-6 align-self-end">
                        <label>Seleccione template de salida</label>
                    <select  formControlName="templateOut" class="form-control" (focus)="touched(j.value.id)" >
                      <option value="" selected>Seleccione</option>
                      <option [value]="item?.id" *ngFor="let item of templateOut[j.value.id]">
                        {{ item.name }}
                      
                      </option>
                    </select> 

                  </div>

                </div>
                </div>
              </div>    
            </div>
          </div> -->
           
          </div>
            <div class="mt-20">
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h4>LLave de conciliaci&oacute;n</h4>
                </div>
              </div>
              <hr>
              <div class="row justify-content-between">
                
                <div class="col-md-12">
                  <button type="button" class="btn btn-md btn-blue float-right " (click)="addNewTab()">Adicionar</button> 
                </div>
              </div>
              <br>
              <div (click)="$event.preventDefault()">
              
              <tabset>
                <tab class="animated fadeIn slow" 
                    *ngFor="let tabz of tabs"
                    [heading]="tabz.title"
                    [active]="tabz.active"
                    (selectTab)="tabz.active = true"
                    (deselect)="tabz.active = false"
                    [disabled]="tabz.disabled"
                    [removable]="tabz.removable"
                    (removed)="removeTabHandler(tabz)"
                    [customClass]="tabz.customClass">
                     <div class="row ml-0 mr-0">
                       <div class="col-6 " *ngFor="let item of dinamicData[tabz.title].data; let i = index">
                             <div class="row ml-0 mr-0 mt-3" >
                               <div class="col-6 float-center">
                                 <label> {{ item.name }}</label>   
                               </div>
                             </div>
                          <div class="row ml-0 mr-0 mt-3" >
                             
                            <div class="col-6">
                              <label>Dato</label>   
                             <select #mySelect (change)="addCode(mySelect?.value, $event,tabz.title, item, i )" class="form-control" [formControlName]="tabz.title + '.' + item.name + '.name' " (change)="onChangeDato($event.target.value, tabz.title)">
                                <option [ngValue]="null" disabled>Seleccione campo</option>
                                <option [value]="row?.name" *ngFor="let row of item?.template_header" >
                                  {{ row?.name}}
                                </option>
                              </select>
                            </div>
                            <div class="col-6">
                            <label>Tipo de dato</label>
                             <select   class="form-control" [formControlName]="tabz.title + '.' + item.name + '.type'" (change)="onKey($event,tabz.title, item, i )" (change)="onChangeTipoDato($event.target.value, tabz.title)">
                              <option [ngValue]="null" disabled>Seleccione tipo de dato</option>
                              <option [value]="row?.name" [id]="row.id" *ngFor="let row of DataType" >
                                {{ row.name}}
                              </option>
                            </select>
                          </div>
                            <div class="col-1" *ngIf="form.controls[tabz.title + '.' + item.name + '.precision']?.value > 0">
                              <label>Precision</label>
                              
                              
                              <input [formControlName]="tabz.title + '.' + item.name + '.precision'" min="0" type="number" class="form-control"  placeholder="Precici&oacute;n">
                            </div>
                           
                          </div>
                        </div>
                     </div>
                </tab>
              </tabset>
            </div>
           

            </div>
          <div class="row mt-3">
              <div class="col align-self-end">
               <!-- <button [disabled]="newForm?.invalid || activeButton" class="btn btn-md btn-blue float-right" (click)="handelSave()">Guardar</button> -->
               <button class="btn btn-md btn-blue float-right" (click)="handelSave()">Guardar</button>
              </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
<!-- <pre>
  {{newForm.invalid}}
  <br>
  {{newForm.value | json}}
</pre>
<pre>
  {{form.value | json}}
</pre>
   -->


