::ng-deep {
  .modal-content {
    border: 0 !important;
  }

  .text-danger {
    font-size: 10px;
  }
}
.modal-footer {
  border-top: unset;
}

#regForm {
  background-color: #ffffff;
  margin: 0;
}

.pb-00{ padding-bottom: 0!important; }
#prevBtn {
  background-color: #153f59;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step_active {
  background-color: #153f59 !important;
  opacity: 0.7;
}

.step.finish {
  background-color: #4CAF50
}

.all-steps {
  text-align: center;
  margin-top: 10px;
 // margin-bottom: 20px;
}
.w-30 {
  width: 30%;
  height: 30%;
}

.btn-blue {
  background: #153f59;
  color: white;
}

.btn-red {
  color: red;
}
.mtt-20 {
  margin-top: 20px;
}
.shemasRoles {
  height: 262px;
  max-height: 262px;
  overflow-x: hidden;
  overflow-y: auto;
}

.m-10 {
  margin: 10px;
}
.mll-10 {
  margin-left: 10px!important;
}
.mbb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}
.mbb-0 {
  margin-bottom: 0!important;
}
.mbb-5 {
  margin-bottom: 5px!important;
}
.mbb-12 {
  margin-bottom: 12px!important;
}
.dropdown-item i {
  color: #153f59!important;
}
.btn-white {
  background-color: white;
  width: 3px;
  float: right;
  cursor: pointer;
}
.br-unset {
  border-right: unset;
}
.border-eye {
  border: 1px solid #e4e7ea;
  border-left: unset;
}
.mrr-5 {
  margin-right: 5px;
}
select option[disabled] {
  color: #dddddd;
}
