<div class="modal-heade btn-blue">
    <div class="card-header btn-blue text-white">
        Editar usuario
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="handelCancel()">
              <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body pb-00">
     <form class="form-horizontal" [formGroup]="form">
       <div class="col">
         <div class="col-md-12">
           <div class="all-steps" id="all-steps" [ngClass]="{'mbb-0': step2}">
             <span class="step" [ngClass]="{'step_active': step1}"></span>
             <span class="step" [ngClass]="{'step_active': step2}"></span>
            </div>
            <div class="tab animated fadeIn slow" [hidden]="!step1">
              <div class="row">
                <label class="fw-bold">Datos de la cuenta</label>
              </div>
             <div class="row">
                 <div class="col-sm-6">
                   <div class="form-group">
                     <label for="username">Usuario</label>
                     <input formControlName="username"
                            type="text" id ="username"
                            class="form-control"
                            appValidateNotBlank
                            onlyLetters
                            maxlength="20"
                            [class.is-invalid]="usernameInvalid || usernameInvalidLength"
                            [class.is-valid]="usernameValid"
                            placeholder="Usuario">
                     <span *ngIf="usernameInvalid" class="text-danger float-right">
                      Campo requerido *
                      </span>
                     <span *ngIf="usernameInvalidLength" class="text-danger float-right">
                      Campo debe contener al menos 3 caracteres *
                     </span>
                   </div>
                 </div>
                 <div class="col-sm-6">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input formControlName="email"
                             type="text" id ="email"
                             class="form-control"
                             appValidateNotBlank
                             required
                             (change)="changeEmail()"
                             [class.is-invalid]="emailInvalid || emailRequired"
                             [class.is-valid]="emailValid"
                             placeholder="Email">
                      <span *ngIf="emailInvalid" class="text-danger float-right">
                       Campo inválido *
                      </span>
                      <span *ngIf="emailRequired" class="text-danger float-right">
                       Campo requerido *
                      </span>
                    </div>
                  </div>
             </div>
             <div class="row">
                 <div class="col-sm-6">
                   <div class="form-group">
                     <label for="password">Contraseña/Nueva contraseña</label>
                     <div class="input-group">
                       <input  formControlName="password"
                               [type]="hidePassword ? 'password' : 'text'"
                               id ="password"
                               class="form-control br-unset"
                               passwordCharacters
                               placeholder="Contraseña/Nueva contraseña">
                       <span class="input-group-btn border-eye">
                         <a type="button" class="btn dropdown-item btn-white text-white text-right mrr-5" (click)="hidePassword = !hidePassword">
                           <i class="fa icon"  aria-hidden="true" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}"></i>
                         </a>
                       </span>
                     </div>
                    <span *ngIf="comparePassUserName" class="text-danger float-right">
                      La contraseña no puede ser igual al usuario *
                    </span>
                     <span *ngIf="passwordInvalidLength" class="text-danger float-right">
                      La contraseña debe contener al menos 8 caracteres *
                    </span>
                   </div>
                 </div>
                 <div class="col-sm-6">
                   <div class="form-group">
                     <label for="security_code">Código de seguridad</label>
                     <div class="input-group">
                       <input formControlName="security_code"
                               [type]="hideSecurityCode ? 'password' : 'text'"
                               id ="security_code"
                               class="form-control br-unset"
                               passwordCharacters
                               placeholder="Código de seguridad">
                       <span class="input-group-btn border-eye">
                         <a type="button" class="btn dropdown-item btn-white text-white text-right mrr-5" (click)="hideSecurityCode = !hideSecurityCode">
                           <i class="fa icon"  aria-hidden="true" [ngClass]="{'fa-eye-slash': hideSecurityCode, 'fa-eye': !hideSecurityCode}"></i>
                         </a>
                       </span>
                     </div>
                     <span *ngIf="securityCodeInvalidLength" class="text-danger float-right">
                      El código de seguridad debe contener al menos 5 caracteres *
                    </span>
                   </div>
                 </div>
             </div>
              <div class="row">
                <label class="fw-bold">Datos personales</label>
              </div>
              <div class="row mbb-12">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="firstName">Nombre</label>
                      <input formControlName="firstName"
                             type="text" id ="firstName"
                             class="form-control"
                             appValidateNotBlank
                             onlyLetters
                             maxlength="20"
                             [class.is-invalid]="nameInvalid || comparePassUser || nameInvalidLength"
                             [class.is-valid]="nameValid"
                             placeholder="Nombre">
                      <span *ngIf="nameInvalid" class="text-danger float-right">
                       Campo inválido *
                      </span>
                      <span *ngIf="comparePassUser" class="text-danger float-right">
                        El nombre no puede ser igual a la contraseña *
                      </span>
                      <span *ngIf="nameInvalidLength" class="text-danger float-right">
                        El campo debe contener al menos 3 caracteres *
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="lastName">Apellido</label>
                      <input formControlName="lastName"
                             type="text" id ="lastName"
                             class="form-control"
                             appValidateNotBlank
                             onlyLetters
                             maxlength="20"
                             [class.is-invalid]="lastNameInvalid || lastNameInvalidLength"
                             [class.is-valid]="lastNameValid"
                             placeholder="Apellido">
                      <span *ngIf="lastNameInvalid" class="text-danger float-right">
                       Campo inválido *
                      </span>
                      <span *ngIf="lastNameInvalidLength" class="text-danger float-right">
                        El campo debe contener al menos 3 caracteres *
                      </span>
                    </div>
                  </div>
              </div>
            </div>
           <div class="tab animated fadeIn slow" [hidden]="!step2">
                <div class="form-group row">
                 <div class="col-8">
                   <label class="fw-bold">Empresas asociadas y permisos</label>
                 </div>
                 <div class="col-4 text-right">
                   <button [placement]="'left'" [disabled]="getSchemasRoles?.controls?.length === enterprise?.length || hiddenAdminHolding"
                           [tooltip]="'Adicionar empresa y rol'" class="btn btn-blue" (click)="add()"><i class="fa fa-pencil-square-o"></i></button>
                 </div>
               </div>
               <div formArrayName="schemasRoles" class="shemasRoles">
                 <div *ngFor="let item of getSchemasRoles.controls; let i = index" [formGroupName]="i">
                   <div class="form-group row align-items-center mbb-5">
                     <div class="col-5">
                       <label>Seleccionar empresa</label>
                       <div class="form-group mbb-0">
                         <select formControlName="schemaName"
                                 (change)="onSelectEnterprise($event.target.value, item)"
                                 class="form-control">
                           <option value="null" disabled>Seleccionar empresa</option>
                           <option [value]="item?.code" *ngFor="let item of enterprise" [disabled]="disabledEnterprise(item)">
                             {{item.name}}
                           </option>
                         </select>
                       </div>
                       <span *ngIf="enterpriseInvalid(i)" class="text-danger float-right">
                          Campo requerido *
                        </span>
                     </div>
                     <div class="col-5" *ngIf="!hiddenAdminHolding;else holdingSelect">
                       <label>Seleccionar rol</label>
                       <div class="form-group mbb-0">
                         <select formControlName="role" class="form-control">
                           <option value="null" disabled>Seleccionar rol</option>
                           <option [value]="item?.id" *ngFor="let item of rolesAdd[i]?.roles" [disabled]="disabled(item)">
                             {{item?.name}}
                           </option>

                         </select>
                       </div>
                       <span *ngIf="rolInvalid(i) && !hiddenAdminHolding" class="text-danger float-right">
                          Campo requerido *
                        </span>
                     </div>
                     <ng-template #holdingSelect>
                       <div class="col-5">
                         <label>Seleccionar rol</label>
                         <div class="form-group mbb-0">
                           <select formControlName="role" class="form-control">
                             <option value="null" disabled>Admin holding</option>
                             <option [value]="item?.id" *ngFor="let item of rolesAdd[i]?.roles" >
                               {{item?.name}}
                             </option>
                           </select>
                         </div>
                       </div>
                     </ng-template>
                     <div *ngIf="i !== 0"  class="col-2">
                       <button  [placement]="'top'" [tooltip]="'Eliminar empresa y rol'" class="btn btn-red mtt-20" (click)="removeSchemasRoles(i, item)"><i class="fa fa-trash mbo-5"></i></button>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
          </div>
       </div>
     </form>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-lg-12 text-right">
          <button *ngIf="step2 && !spinner" class="btn btn-blue" type="button" id="prevBtn" [disabled]="hiddenButton || spinner" (click)="nextPrev(-1)" >Anterior</button>
          <button *ngIf="step1" class="btn btn-blue mll-10" type="button" id="nextBtn"
                  [disabled]="disabledNext()" (click)="nextPrev(1)">Siguiente</button>
            <button *ngIf="step2 && !spinner" type="submit" (click)="editForm()" [disabled]="disabledNext()" class="btn btn-blue mll-10">
              <span>Guardar</span>
            </button>
            <button *ngIf="spinner" class="btn btn-blue mll-10" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Guardando...
            </button>
        </div>
    </div>
</div>
