<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.jpeg', width: 50, height: 50, borderImage: 50, alt: 'Matching Logo'}"
  [navbarBrandMinimized]="{src: '/assets/img/logo.jpeg', width: 50, height: 50, alt: 'Matching Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto login-class">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="true">
        <strong>{{enterpriseName}} - {{userName}} </strong>
        <i *ngIf="listVersions?.length>0" class="fa fa-bell-o" [tooltip]="'Nueva versión disponible'" placement="bottom"></i>
       </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>{{role}}</strong></div>
          <a class="dropdown-item btn-menu text-white" (click)="Logout()"><i class="fa fa-lock"></i>Cerrar sesión</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <!-- <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </cui-breadcrumb> -->
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
      <!--<li class="breadcrumb-menu d-md-down-none">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
          <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
          <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
          <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid pl-0 pr-0">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
   <app-aside #appAside [fixed]="true" [display]="true" [ngClass]="'test'">
     <tabset>
       <tab>
         <ng-template tabHeading><i class="fa icon-home"></i></ng-template>
         <div class="list-group list-group-accent">
           <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small" >Empresas</div>
              <div class="list-group-item list-group-item-divider" >
                <div *ngIf="OtherEnterprise;else notOtherEnterprise">
                  <div>
                    <ul class="list-group">
                      <li class="list-group-item no-border" *ngFor="let enterprise of otherEnterprise" (change)="onChange(enterprise)">
                        <input class="not-elements" type="radio" name="radio_name" value="{{enterprise.value}}" />
                          <i>{{enterprise?.name}}</i>
                      </li><br>
                    </ul>
                  </div>
                  <button *ngIf="!spinner" [disabled]="!enterpriseSelected || spinner" class="btn btn-blue text-white text-center p-cursor col-12" (click)="changeEnterprise()">{{!spinner ? 'Cambiar empresa' : 'Cambiando empresa...'}}</button>
                </div>
                <ng-template #notOtherEnterprise >
                  <div class="not-elements">
                    <i>Usuario registrado solo en {{enterpriseName}}</i>
                  </div>
                </ng-template>
              </div>
             <!--<div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Tomorrow</div>
             <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
               <div>New UI Project -
                 <strong>deadline</strong>
               </div>
             <small class="text-muted mr-3">
               <i class="icon-calendar"></i>  10 - 11pm</small>
             <small class="text-muted">
               <i class="icon-home"></i>  creativeLabs HQ</small>
             <div class="avatars-stack mt-2">
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
               </div>
             </div>
           </div>
           <div class="list-group-item list-group-item-accent-success list-group-item-divider">
             <div>
               <strong>#10 Startups.Garden</strong> Meetup</div>
             <small class="text-muted mr-3">
               <i class="icon-calendar"></i>  1 - 3pm</small>
             <small class="text-muted">
               <i class="icon-location-pin"></i>  Palo Alto, CA</small>
           </div>
           <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
             <div>
               <strong>Team meeting</strong>
             </div>
             <small class="text-muted mr-3">
               <i class="icon-calendar"></i>  4 - 6pm</small>
             <small class="text-muted">
               <i class="icon-home"></i>  creativeLabs HQ</small>
             <div class="avatars-stack mt-2">
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
               </div>
               <div class="avatar avatar-xs">
                 <img class="img-avatar" src="assets/img/avatars/8.jpg" alt="admin@bootstrapmaster.com">
               </div>
             </div>
           </div>-->
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-bell-o"></i></ng-template>
          <div  class="list-group list-group-accent">
            <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small" >Nuevas versiones disponibles</div>
            <div class="list-group-item list-group-item-divider" >
              <div *ngIf="listVersions?.length>0;else notUpdateVersion">
                <ol class="list-group">
                  <li *ngFor="let item of listVersions" class="d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto list-group-numbered">
                      <div class="fw-bold">Versión {{item?.version}}
                          <i *ngIf="item?.payment" class="fa fa-star-o" placement="top" [tooltip]="'Versión de pago'"></i>
                          <i *ngIf="!item?.payment" class="fa fa-check" placement="top" [tooltip]="'Versión libre'"></i>
                      </div>
                      <div class="not-elements"><i>{{item?.description}}</i></div><br>
                    </div>

                  </li>
                </ol>
                <!-- <a class="dropdown-item btn-menu text-white text-center p-cursor" (click)="openListVersionsModal(templateOpenListVersion)">Ver listado</a>-->
              </div>
              <ng-template #notUpdateVersion >
                <div class="not-elements">
                  <i>El sistema se encuentra actualizado.</i>
                </div>
              </ng-template>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-settings"></i></ng-template>
          <div class="p-3">
            <h6>Settings</h6>
            <div class="aside-options">
              <div class="clearfix mt-4">
                <small><b>Option 1</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
              <div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3">
                <small><b>Option 2</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input type="checkbox" class="switch-input">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
              <div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3">
                <small><b>Option 3</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input type="checkbox" class="switch-input">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3">
                <small><b>Option 4</b></small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
            <hr>
            <h6>System Utilization</h6>
            <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">348 Processes. 1/4 Cores.</small>
            <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">11444GB/16384MB</small>
            <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">243GB/256GB</small>
            <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">25GB/256GB</small>
          </div>
        </tab>
      </tabset>
    </app-aside>
  </div>
    <footer class="text-center">
          <p>
              Matching  &copy; {{year}}
          </p>
    </footer>
