.header {
  text-align: center;
  background: #153f59;
  color: white;
  font-size: 20px;
  font-weight: normal;
  height: 150px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.bg-button {
  background-color: darkseagreen;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.card {
  margin-top: -50px;
  // width: 95%;
}

.table-container {
  position: relative;
  border-radius: 8px;
}

.feather {
  font-family: feather !important;
  // speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// element.style {}
.card .card-header .card-header-right .btn.dropdown-toggle i {
  margin-right: 0;
}

.feather {
  // speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card .card-header .card-header-right .btn.dropdown-toggle {
  color: #888;
}

.fa-list-ul {
  cursor: pointer;
}

.fa-list-ul:hover {
  color: #63c2de;
}


.xx{
  width: 100%;
}

.table-responsive {
  display: block;
  width: 100%;
  max-height: 400px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

::ng-deep {
  .my-vertical-cron .c-host {
  display: flex;
  flex-direction: row;
  .c-tabs {
    flex-direction: column;
    border: 0;
    border-right: 1px solid #ccc;
    .c-tab {
      text-align: left;
      border: 0;
      border-radius: 0;
    }
  }
  .c-tab-content {
    padding-top: .5rem;
    padding-left: 1rem;
  }
}
}
.header {
  text-align: center;
  background: #153f59;
  color: white;
  font-size: 20px;
  font-weight: normal;
  height: 150px;
}
:host ::ng-deep {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 240px;
  }
}
table th {
  font-weight: 500;
  background-color: #d5dadd;
  border-top: 1px solid #d5dadd;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #d5dadd;
}
.btn-blue{
  background: #153f59;
  color: white;
}
.btn-blues{
  background: #365b77;
  color: white;
}
.text-danger {
  font-size: 10px;
}
.btn-green{
  background: #135c35;
  color: white;
}

.btn-red{
  background: #a31309;
  color: white;
}

.btn-yellow{
  background: #e5e910;
  color: black;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}
.mt-20 {
  margin-top: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.bg-button {
  background-color: darkseagreen;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.card {
  margin-top: -50px;
  width: 95%;
}

.table-container {
  position: relative;
  border-radius: 8px;
}

.ml-10 {
  margin-left: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-12 {
  margin-top: 12px;
}
.m-10 {
  margin: 10px 0 10px 0;
}
.mt-0 {
  margin-top: 0!important;
}
.w-100 {
  width: 100% !important;
}
.mt-5{
  margin-top: 5px;
}
.mr-20 {
  margin-right: 20px!important;
}
.mtp-15 {
  margin-top:15px;
}
.mtp-0 {
  margin-top: 0!important;
}
.mbm-0 {
  margin-bottom: 0!important;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mtp-5{
  margin-top: 5px;
}
.row-connection {
  display: flex;
  flex-wrap: wrap;
}
.row-btn {
  display: flex;
  flex-direction: column-reverse;
}
.text-right{
  text-align: right;
}
.cron-class{
  margin: 20px!important;
}
.responseDiv{
  margin-top: 10px;
  margin-bottom: 20px;
}

