<div class=" page-layout simple tabbed ">
    <div class="header " fxLayout="column " fxLayoutAlign="flex-start " fxLayout.gt-xs="row ">
    </div>

    <div class="col-12">
        <div class="card animated fadeIn slow">
            <div class="card-header ">
                <div class="row ml-3">
                    <h3 class="card-title">Editar salida</h3> 
                    
                </div>

              <div class="form-group row mt-5">

                <div class="col-md-3">
                   <form class="form-horizontal" [formGroup]="form">
                     <label >Nombre</label>
                     <div class="form-group">
                         <div class="input-group">
                             <input [class.is-invalid]="nameNotValid"
                                    [class.is-valid]="nameValid" 
                                    formControlName="name" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Nombre" 
                                    required>
                         </div>
                     </div>
                     <span *ngIf="nameNotValid" class="text-danger float-right">
                           Campo requerido *
                    </span>

                   </form>
                </div>
             </div>

                <div class="m-10 mt-20">
                Datos de conexión
              </div>
               <form class="form-horizontal" [formGroup]="form">
                   <div class="card mt-0 w-100">
                     <div class="form-group row-connection mbm-0">
                       <div class="col-md-3 mtp-15">
                           <label>Tipo de conexión</label>
                           <div class="form-group">
                             <div class="input-group">
                               <!-- <select #mySelectOrigin (change)='onConnectionTypeSelected(mySelectOrigin?.value)' [(ngModel)]='connSelect' formControlName="connection_type" class="form-control"> -->
                               <select  formControlName="connection_type" class="form-control">
                                 <option [value]="form?.tc_origin" *ngFor="let form of conection_origen">
                                   {{ form?.tc_origin }}
                                 </option>
                               </select>
                             </div>
                           </div>
                       </div>
                       <!-- <div class="col-md-6 mtp-15" *ngIf="urlSelected">
                         <label>Url origen</label>
                         <div class="form-group">
                           <input  type="text"
                                   required
                                   formControlName="connection_url"
                                   [class.is-invalid]="connectionUrlNotValid"
                                   [class.is-valid]="connectionUrlValid"
                                   class="form-control"
                                   placeholder="http://www.ejemplo.com">
                         </div>
                         <span *ngIf="connectionUrlNotValid" class="text-danger float-right">
                           Campo requerido *
                         </span>
                       </div> -->
                       <!-- <div class="col-md-3 mtp-15" *ngIf="sftpSelected"> -->
                       <div class="col-md-3 mtp-15">
                         <label>Dirección IP origen</label>
                         <div class="form-group">
                           <input  type="text"
                                   required
                                   formControlName="connection_ip"
                                   [class.is-invalid]="connectionIpNotValid"
                                   [class.is-valid]="connectionIpValid"
                                   class="form-control"
                                   placeholder="127.0.0.1">
                         </div>
                         <span *ngIf="connectionIpNotValid" class="text-danger float-right">
                           Campo requerido *
                         </span>
                       </div>
                       <!-- <div class="col-md-3 mtp-15" *ngIf="sftpSelected"> -->
                       <div class="col-md-3 mtp-15">
                         <label>Ruta de origen</label>
                         <div class="form-group">
                           <input  type="text"
                                   required
                                   formControlName="connection_folder"
                                   [class.is-invalid]="connectionFolderNotValid"
                                   [class.is-valid]="connectionFolderValid"
                                   class="form-control"
                                   placeholder="/user/sftp/in/">
                         </div>
                         <span *ngIf="connectionFolderNotValid" class="text-danger float-right">
                           Campo requerido *
                         </span>
                       </div>
                       <div class="col-md-3 mtp-15">
                         <label>Puerto</label>
                         <div class="form-group">
                           <input  type="number"
                                   required
                                   formControlName="connection_port"
                                   [class.is-invalid]="connectionPortNotValid"
                                   [class.is-valid]="connectionPortValid"
                                   class="form-control"
                                   placeholder="Puerto">
                         </div>
                         <span *ngIf="connectionPortNotValid" class="text-danger float-right">
                           Campo requerido *
                         </span>
                       </div>
                     </div>
                     <div class="form-group row-connection mbm-0">
                       <div class="col-md-6 mbm-0">
                         <label>Nombre de usuario</label>
                         <div class="form-group">
                           <input  type="text"
                                   required
                                   formControlName="connection_user_name"
                                   [class.is-invalid]="connectionUserNameNotValid"
                                   [class.is-valid]="connectionUserNameValid"
                                   class="form-control"
                                   placeholder="Usuario"
                                   maxlength="30">
                         </div>
                         <span *ngIf="connectionUserNameNotValid" class="text-danger float-right">
                             Campo requerido *
                         </span>
                       </div>
                       <div class="col-md-6 mbm-0">
                         <label>Contraseña</label>
                         <div class="form-group">
                           <input  type="password"
                                   required
                                   formControlName="connection_password"
                                   [class.is-invalid]="connectionPasswordNotValid"
                                   [class.is-valid]="connectionPasswordValid"
                                   class="form-control"
                                   placeholder="Contraseña">
                         </div>
                         <span *ngIf="connectionPasswordNotValid" class="text-danger float-right">
                               Campo requerido *
                         </span>
                       </div>
                     </div>
     
                     <div class="form-group">
                       <button [disabled]="form?.invalid"
                         class="btn btn-sm btn-blues mr-20 mtp-15 float-right" (click)="handelSave()">Guardar</button>
                     </div>
                   </div>
               </form>
            </div>
        </div>
    </div>
</div>
