.table-responsive {
  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 400px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.header {
  //   text-align: center;
  background: #153f59;
  //  color: white;
  //  font-size: 20px;
  //  font-weight: normal;
  height: 150px;
}
.btn-blue {
  background: #153f59;
  color: white;
}
.btn-menu {
  background: #7498b6;
}
.text-ok {
  color: #4dbd74;
}
.text-not-ok {
  color: #f86c6b;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.card {
  margin-top: -50px;
  width: 95%;
}

.table-container {
  position: relative;
  border-radius: 8px;
}


.fa-list-ul {
  cursor: pointer;
}

.fa-list-ul:hover {
  color: #63c2de;
}
