<div class="page-layout simple tabbed">
  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>
  <div class="card ml-30">
    <div class="card-header">
      <div fxLayout="row">
        <h3 >{{title}}</h3>
        <div class="ml-10">
          <button type="button" class="btn btn-blue" (click)="openAddConfConciliation()">
            Registrar</button>
        </div>
      </div>

     
        <div class="card-body">
            <table class="table table-xs">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Creado</th>
                <th>Actualización</th>
                <th>Ejecución</th>
                <th>Estado</th>
                <th class="text-right">Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of dataSource; let i=index;">
                <td  class="text-capitalize" placement="top" [tooltip]="row?.name">
                  {{row?.name | textTransform}}
                </td>
                <td placement="top" [tooltip]="row?.created">
                  {{row?.created | textTransform:10}}
                </td>
                <td placement="top" [tooltip]="row?.updated">
                  {{row?.updated | textTransform:10}}
                </td>
                <td placement="top" [tooltip]="row?.cron_time_text">
                  {{row?.cron_time | textTransform}}
                </td>
                <td>
                  <i *ngIf="row?.active"  placement="top" [tooltip]="'Habilitado'" class="fa fa-check fa-2x text-success"></i>
                  <i *ngIf="!row?.active" placement="top" [tooltip]="'Deshabilitado'" class="fa fa-ban fa-2x icon-danger"></i>
                </td>
                <td class="text-right">
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group dropleft" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                      <div class="dropdown-menu animated fadeIn slow" aria-labelledby="btnGroupDrop1">
                        <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openEditConfigConciliation(row?.id)">Editar</a>
                        <a type="button"class="dropdown-item btn-menu text-white text-center" (click)="openTestConciliation(row?.id)">Probar Conciliaci&oacute;n</a>
                        <div *ngIf="!row?.active; else deshabilitar" >
                          <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openUpdateActiveConfigConciliation(row?.id,true)">Habilitar</a>
                        </div>
                        <ng-template #deshabilitar>
                          <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openUpdateActiveConfigConciliation(row?.id,false)">Deshabilitar</a>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div  *ngIf="noData" class="alert alert-primary animated fadeIn slow text-center" role="alert">
              <label class="mr-3">{{noDataMessage}}</label> <i (click)="getConfConciliation()" title="Refrescar tabla" style="cursor: pointer;" class="fa fa-refresh fa-1x" ></i>
            </div>
             <div  class="col-md-12 mt-3"  *ngIf="dataSource && dataSource.length > 0">
                <mat-paginator
                  (page)="handlePageEvent($event)"
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [showFirstLastButtons]="showFirstLastButtons"
                  [pageSizeOptions]="pageSizeOptions"
                  [pageIndex]="pageIndex">
                </mat-paginator>
              </div>
          
        </div>
      
    </div>
  </div>


