<div class="modal-heade bg-dark ">
  <div class="card-header btn-blue text-white">
    Registrar empresa
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="handelCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="row">

   <div class="col-lg-6 col-sm-6">
      <img src="assets/img/register.jpeg" class="mt-3 imgx"  alt="">
    </div>

    <div   class="col-lg-6 col-sm-6">
      <form  class="form-horizontal" [formGroup]="form">
        <div class="col">
             <div class="col-md-12">
                 <div class="all-steps" id="all-steps">
                 </div>

                <div class="tab animated fadeIn slow" [hidden]="!step1">
                     <div class="form-group row ">
                     <div class="col-md-12 col-sm-12 ">
                       <label>Nombre de la empresa</label>
                       <div class="form-group">
                         <div class="input-group">
                           <input  type="text"
                           formControlName="enterprise_name"
                           appValidateNotBlank
                           onlyLetters
                           maxlength="20"
                           [class.is-invalid]="enterpriseNameInvalid || enterpriseNameInvalidLength"
                           [class.is-valid]="enterpriseNameValid"
                           class="form-control"
                           placeholder="Nombre de la empresa">
                         </div>
                          <span *ngIf="enterpriseNameInvalid" class="text-danger float-right">
                             Campo requerido *
                          </span>
                          <span *ngIf="enterpriseNameInvalidLength" class="text-danger float-right">
                            El Campo debe contener al menos 3 caracteres *
                          </span>
                       </div>

                     </div>
                   </div>
                   <div class="form-group row">
                     <div class="col-md-12 ">
                         <label>Descripción</label>
                       <div class="form-group mb-2">
                         <textarea
                                  class="text-area form-control"
                                  type="text"
                                  maxlength="80"
                                  placeholder="Descripción (Opcional)"
                                  formControlName="enterprise_description">
                        </textarea>
                       </div>
                     </div>
                  </div>

                </div>

                
                <div class="modal-footer ">
                   <div class="row">
                     <div class="text-right">
                       <button *ngIf="step1 && !spinner" type="submit" (click)="handelSave()" [disabled]="form?.invalid" class="btn btn-blue ml-2">
                         <span>Guardar</span>
                       </button>
                       <button *ngIf="spinner"  class="btn btn-blue" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Guardando...
                      </button>
                     </div>
                   </div>
                 </div>
             </div>
        </div>
      </form>
    </div>
  </div>
</div>


  <!-- <hr>
  <div class="row">
    <div class="col-4">
      <pre>
        Estado : {{form.valid}}
        <br>
        Status : {{form.status}}
      </pre>
    </div>
    <div class="col-4">
      <pre>
        {{form.value | json}}
      </pre>
    </div>
    <div class="col-4">
      <pre>
        {{form | json}}
      </pre>
    </div>
  </div> -->
