<div class="page-layout simple tabbed">
    <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
    </div>
    <div class="card ml-30">
        <div  class="card-header">
            <div fxLayout="row">
                <h3>Modificar formato Template</h3>
            </div>
            <hr>
            <form  class="form-horizontal" [formGroup]="editTemplate">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="font-weight-bold">Nombre del template</label>
                            <div class="form-group">
                                <div class="input-group">
                                <input maxlength="30" formControlName="name" type="text" class="form-control" placeholder="Nombre del formato de la interfaz">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-bold">Formato del template</label>
                            <div class="form-group">
                                <div class="input-group">
                                <select #mySelect (change)='onOptionsSelected(mySelect.value)' formControlName="format" class="form-control">
                                    <option [value]="origen.id" *ngFor="let origen of origins" [selected]="origen.id === currentFormat">
                                        {{ origen.description }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="textoConDelimitador" class="col-md-3">
                        <label class="font-weight-bold">Separador</label>
                            <div class="form-group">
                                <div class="input-group">
                                <input formControlName="separator" type="text" class="form-control" placeholder="Ejemplo: ';' , '-'">
                            </div>
                        </div>
                    </div>
                </div>

              <div class="form-group row">
                <div class="col-md-3">
                  <button class=" btn btn-md btn-blue" type="submit" (click)="addRow()">Agregar campo</button>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" [checked]="status" (change)="changeStatus($event)">
                    El archivo contiene cabecera?
                    <ng-template #popTemplate><div [innerHtml]="message"></div></ng-template>
                    <span class="fa fa-question"
                            [tooltip]="popTemplate" placement="bottom">
                    </span>
                </div>
                <div class="col-md-6" [ngClass.lt-md]="{'mtt-10': true}">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        formControlName="file_name"
                        type="test"
                        align="center"
                        readonly
                        class="form-control text-right">
                      <button type="button" title="Subir archivo" class="btn btn-sm btn-blues ml-10" (click)="file?.click()"> <i class="fa fa-upload"></i></button>
                      <input #file type="file" id="file" (change)="handleFileInput($event?.target?.files)" style="display:none;">
                      <button class="ml-10 btn btn-md btn-blues" (click)="validarFormato()">Validar Formato</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="col-md-12 responseDiv" [innerHTML]="responseMessage"> 
            </div>
            <div *ngIf="hasKies">
                <div  class="table-responsive"> 
                  <table class="table table-xs">
                      <thead>
                          <tr>
                              <td *ngFor="let col of columsHeader" placement="top" [tooltip]="capitalizeString(col)"  container="body">{{capitalizeString(col) | textTransform}} </td>
                          </tr>
                      </thead>
                      <tbody>
                          <ng-container *ngIf="hasKies">
                              <tr *ngFor="let kies of fileKies; let i = index">
                                  <ng-container *ngIf="processed">
                                      <td  *ngFor="let k of kies" placement="top" [tooltip]="k"  container="body">
                                          {{k | textTransform}}
                                      </td>
                                  </ng-container>  
                                  <ng-container *ngIf="!processed">
                                      <td style="color: red;" *ngFor="let k of kies" placement="top" [tooltip]="k"  container="body">
                                          {{k | textTransform}}
                                      </td>
                                  </ng-container>
                              </tr>  
                          </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>


            <form class="form-horizontal" [formGroup]="TemplateFields">
                <div class="ng-tns-c94-64 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-xs" cdkDropList (cdkDropListDropped)="onDrop($event)">
                                <thead>
                                    <tr>
                                        <th>Campo</th>
                                        <th>Longitud</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
                                    <tbody>
                                        <tr [formGroupName]="i" cdkDrag cdkDragLockAxis="y">
                                            <td>
                                                <input style="width: 98%" class="form-control" type="text" formControlName="name" (keydown.enter)="disableEnter($event)">
                                            </td>
                                            <td>
                                                <input style="width: 98%" onlyNumber class="form-control" type="text" formControlName="length" (keydown.enter)="addRowWithEnter($event, i)">
                                            </td>
                                            <td>
                                                <button *ngIf="i === 0"  disabled title="Eliminar campo" class="btn btn-blues" (click)="deleteRow(i)"><i class="fa fa-trash"></i></button>
                                                <button *ngIf="i > 0"title="Eliminar campo" class="btn btn-blues" (click)="deleteRow(i)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
            <div class="form-group form-actions float-right">
                <button [disabled]="!editTemplate.valid || !TemplateFields.valid" class="btn btn-md btn-blue" (click)="actualizarInterfaz()">Guardar</button>
            </div>
        </div>
    </div>
</div>
