<div class="modal-heade btn-blue">
    <div class="card-header btn-blue text-white">
        Editar empresa
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="handelCancel()">
              <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
     <form class="form-horizontal" [formGroup]="form">
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label >Nombre de la empresa</label>
                <input type="text"
                       class="form-control"
                       appValidateNotBlank
                       onlyLetters
                       maxlength="20"
                       [class.is-invalid]="enterpriseNameInvalid || enterpriseNameInvalidLength"
                       [class.is-valid]="enterpriseNameValid"
                       formControlName="enterprise_name"
                       placeholder="Nombre">

              <span *ngIf="enterpriseNameInvalid" class="text-danger float-right">
                 Campo requerido *
              </span>
                <span *ngIf="enterpriseNameInvalidLength" class="text-danger float-right">
                El Campo debe contener al menos 3 caracteres *
              </span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label >Descripción</label>
                <textarea type="text" formControlName="enterprise_description" class="form-control" ></textarea>
              </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="submit" *ngIf="!spinner" (click)="handelSave()" [disabled]="form?.invalid" class="btn btn-blue">
              <span>Guardar</span>
            </button>
          <button *ngIf="spinner" class="btn btn-blue" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Guardando...
          </button>
        </div>
    </div>
</div>
