<div class="modal-heade btn-blue">
  <div class="card-header btn-blue text-white">
    Editar rol
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="handelCancel()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="col animated fadeIn slow">
        <div class="form-group row animated fadeIn slow">
          <div class="col-md-12 ">
            <div *ngIf="selectedItems && selectedItems?.length > 0">
              <div class="col-12 animated fadeIn slow">
                <label class="">
                  Privilegios seleccionados: {{ selectedItems?.length }}
                  <button *ngIf="selectedItems.length >= 2" [placement]="'top'" [tooltip]="'Eliminar todos los privilegios'" class="btn btn-red" (click)="removeAll()"><i class="fa fa-trash mbo-5"></i></button>
                </label>
              </div>
              <div class="col-12 animated fadeIn slow">
                  <span
                    class="badge badge-pill badge-primary p-2 mr-2 mb-2"
                    *ngFor="let item of selectedItems">
                    <i class="fa fa-times animated fadeIn slow" (click)="removeRoles(item?.id)"></i>
                    {{ item?.description }}
                  </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6">
      <form  class="form-horizontal" [formGroup]="form">
        <div class="col">
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col-md-12">
                <label>Nombre</label>
                <div class="form-group mb-2">
                  <input type="text"
                         formControlName="name"
                         appValidateNotBlank
                         onlyLetters
                         maxlength="20"
                         [class.is-valid]="nameValid"
                         [class.is-invalid]="nameInvalid"
                         class="form-control"
                         placeholder="Nombre">
                </div>
                <span *ngIf="nameInvalid" class="text-danger float-right">
                    Campo requerido *
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12 ">
                <label>Seleccionar privilegios</label>
                <div  class="form-group mb-2">
                  <select  formControlName="function"
                           class="form-control"
                           (change)="onSelecetedRol($event)">
                    <option value="" disabled>Seleccionar privilegios</option>
                    <option class="text-capitalize" *ngFor="let item of privileges" [value]="item?.id">
                      {{item?.description}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label>Descripción</label>
                <div class="form-group">
                  <textarea maxlength="80" type="text" formControlName="description"  class="form-control" placeholder="Descripción (Opcional)"  cols="10" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-12 col-sm-12">
      <div class="col">
        <div class="col-md-12">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="form-group mb-2 mt-3">
                <button *ngIf="!spinner" type="submit" (click)="handelSave()"  [disabled]="form?.invalid || selectedItems?.length===0" class="btn btn-blue float-right">
                  <span>Guardar</span>
                </button>
                <button *ngIf="spinner"  class="btn btn-blue float-right" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" ></span>
                  Guardando...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
