<div class=" page-layout simple tabbed ">
  <div class="header " fxLayout="column " fxLayoutAlign="flex-start " fxLayout.gt-xs="row ">
  </div>

  <div class="col-12">
    <div class="card animated fadeIn slow">
      <div class="card-header ">
        <div class="row ml-3">
          <h3 class="card-title">Templates</h3>
          <div class="ml-10">
            <button type="button" class="btn btn-blue" (click)="openAddTemplate()">
              Registrar</button>
          </div>
        </div>

       
          <div class="card-body ">
              <table class="table table-xs mb-0 animated fadeIn slow">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Campos</th>
                  <th >Sep.</th>
                  <th>Creado</th>
                  <th>Actualización</th>
                  <th class="text-center">Creado por</th>
                  <th class="text-center">Estado template</th>
                  <th class="text-center">Estado</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of dataSource; let i=index; ">
                  <td class="text-capitalize" placement="top" [tooltip]="row?.name"  container="body">
                    {{row?.name | textTransformTemplate}}
                  </td>
                  <td placement="top" tooltip="Click ver detalle"  container="body">

                    <span style="cursor: pointer;">
                      <a class="active" (click)="openModal(template, row.header)"> {{getRowValue(row.header) | textTransformTemplate}}
                        <i class="fa fa-eye text-primary" aria-hidden="true"></i>
                      </a>
                    </span>
                  </td>
                  <td>
                    {{row?.separator | textTransformTemplate}}
                  </td>
                  <td placement="top" [tooltip]="row?.created"  container="body">
                    {{row?.created | textTransformTemplate:20}}
                  </td>
                  <td placement="top" [tooltip]="row?.updated"  container="body">
                    {{row?.updated | textTransformTemplate:20}}
                  </td>
                  <td class="text-center" placement="top" [tooltip]="row?.first_name"  container="body">
                    {{row?.first_name | textTransformTemplate}}
                  </td>
                   
                  <td class="text-center">
                    <i placement="top" tooltip="Listo"  container="body" *ngIf="row?.e_state ===  'Listo' " class="fa fa-check fa-2x text-success"></i>
                    <i placement="top" tooltip="Prueba"  container="body" *ngIf="row?.e_state === 'Prueba' " class="fa fa-ban fa-2x text-warning"></i>
                  </td>
                  <td class="text-center">
                    <i *ngIf="row?.active"  placement="top" [tooltip]="'Habilitado'" class="fa fa-check fa-2x text-success"></i>
                    <i *ngIf="!row?.active" placement="top" [tooltip]="'Deshabilitado'" class="fa fa-ban fa-2x icon-danger"></i>
                  </td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                      <div class="btn-group dropleft" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <div class="dropdown-menu animated fadeIn slow" aria-labelledby="btnGroupDrop1">
                          <a *ngIf="row?.e_state != e_state"  type="button" class="dropdown-item btn-menu text-white text-center" (click)="openEditTemplate(row?.id)">Editar</a>
                          <a *ngIf="row?.e_state === 'Listo' "  type="button" class="dropdown-item btn-menu text-white text-center" (click)="downloadExcel(row?.id)">Descargar formato</a>
                          <div *ngIf="row?.active === false; else deshabilitar" >
                            <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openUpdateActiveTemplate(row?.id,true)">Habilitar</a>
                          </div>
                          <ng-template #deshabilitar>
                            <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openUpdateActiveTemplate(row?.id,false)">Deshabilitar</a>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div  *ngIf="noData" class="alert alert-primary animated fadeIn slow text-center" role="alert">
                <label class="mr-3">{{noDataMessage}}</label> <i (click)="getTemplates()" title="Refrescar tabla" style="cursor: pointer;" class="fa fa-refresh fa-1x" ></i>
              </div>
              <div *ngIf="dataSource && dataSource.length > 0" class="col-md-12 mt-3">
                <mat-paginator
                    (page)="handlePageEvent($event)"
                    [length]="totalItems"
                    [pageSize]="pageSize"
                    [showFirstLastButtons]="showFirstLastButtons"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageIndex]="pageIndex">
                </mat-paginator>
              </div>
            
          </div>
        
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <app-modal-header  *ngIf="header && header.length > 0"  [modal_ref]="modalRef"  [header]="header"></app-modal-header>
</ng-template>

