<div class="container">
  <div class="img">
  </div>
  <div class="login-content">

    <form [formGroup]="form" class="w-100">
      <div class="logo mbt20">
        <img class="br-50" src="/assets/img/logo.jpeg"  alt="">
      </div>
      <div [ngClass]="{'input-div2' : userNameValid, 'input-value': userNameValid, 'mbb-0': userNameInvalid }"  class="input-div one">
        <div class="i">
          <i   class="fa fa-user"></i>
        </div>
        <div class="div" >
          <h5>Usuario</h5>
          <input type="text" formControlName="user_name" class="input"
                 (click)= "onClick('user_name')"
                 [class.is-invalid]="userNameInvalid"
                 [class.is-valid]="userNameValid">
        </div>
      </div>
      <span *ngIf="userNameInvalid" class="text-danger float-right">
           {{'Campo requerido.'}}
      </span>

      <div [ngClass]="{'input-div2' : securityCodeValid, 'input-value': securityCodeValid, 'mbb-0': securityCodeInvalid }"  class="input-div pass">
        <div class="i">
          <i class="fa fa-list-alt "></i>
        </div>
        <div class="div" >
          <h5>Código de seguridad</h5>
          <input type="text"
                 formControlName="security_code"
                 class="input"
                 (click)="onClick('security_code')"
                 [class.is-invalid]="securityCodeInvalid"
                 [class.is-valid]="securityCodeValid">
        </div>
      </div>
      <span *ngIf="securityCodeInvalid" class="text-danger float-right">
           {{'Campo requerido.'}}
      </span>

      <div class="mtt-40">
        <span class="msg-class">
          Ingresas tu usuario y tu código de seguridad y recibirás en el correo electrónico asociado a tu cuenta una nueva contraseña.
        </span>
      </div>

      <button type="button" (click)="handelSave()" [disabled]="form?.invalid || spinner" class="btn mtt-30 btn-blue" [ngClass]="{'hpx-80':spinner}">
        <span>{{!spinner? 'Reestablecer contraseña': 'Reestableciendo contraseña...'}}</span>
        <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</div>

