.header {
    text-align: center;
    background: #153f59;
    color: white;
    font-size: 20px;
    font-weight: normal;
    height: 150px;
}
.btn-blue{
    background: #153f59;
    color: white;
}
.mtt-10 {
  margin-top: 10px;
}
.btn-blues{
    background: #365b77;
    color: white;
}

.btn-green{
    background: #135c35;
    color: white;
}

.btn-red{
    background: #a31309;
    color: white;
}

.btn-yellow{
    background: #e5e910;
    color: black;
}

.pt-20 {
    padding-top: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.bg-button {
    background-color: darkseagreen;
}

.w-100 {
    width: 100%;
}

.w-20 {
    width: 20%;
}

.card {
    margin-top: -50px;
    width: 95%;
}

.table-container {
    position: relative;
    border-radius: 8px;
}

.feather {
    font-family: feather!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card .card-header .card-header-right .btn.dropdown-toggle i {
    margin-right: 0;
}

.feather {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card .card-header .card-header-right .btn.dropdown-toggle {
    color: #888;
}

.drag-handle {
    display: flex;
    align-items: center;
    cursor: move;

    .handle {
      margin-right: 5px;
    }
  }

  /* Animate items as they're being sorted. */
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 4px;
  }
  .cdk-drag-placeholder	{
    opacity: 0;
  }

  .col-xs {
    width: 2%;
  }

  .col-sm {
    width: 10%;
  }

  .col-md {
    width: 20%;
  }
  .responseDiv{
    margin-top: 10px;
    margin-bottom: 20px;
  }