::ng-deep {
  .modal-content {
    border: 0 !important;
  }

  .text-danger {
    font-size: 10px;
  }
}

.modal-footer {
  border-top: unset;
}

.btn-blue {
  background: #153f59;
  color: white;
}

.text-area {
  width: 100%;
  height: 114px;
  font-size: 12px;
}

.form-group {
  margin-bottom: 0.3rem;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

#regForm {
  background-color: #ffffff;
  margin: 0;
}


#prevBtn {
  background-color: #153f59;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step_active {
  background-color: #153f59 !important;
  opacity: 0.7;
}

.step.finish {
  background-color: #4CAF50
}

.all-steps {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.w-30 {
  width: 30%;
  height: 30%;
}

span:hover {
  cursor: pointer;
}

.badge-primary{
  background : #21a3ff;
}
.btn-red {
  color: red;
}
.mbo-5 {
  margin-bottom: 5px;
}
.badge-primary:hover{
 background-image: radial-gradient(circle at 50% 50%, #f23c3c 0, #f23c3c 50%, #f23c3c 100%);
}

@media(max-width: 1080px) {
  img {
    display: none;
  }
}
