

<div class="modal-heade btn-blue">
    <div class="card-header btn-blue text-white">
       Detalle
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="handelCancel()">
              <span aria-hidden="true">&times;</span>
        </button>

    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-xs">
            <thead>
                <tr>
                    <th>Campo</th>
                    <th>Longitud</th>
                </tr>
            </thead>
                <tbody *ngFor="let item of header" >
                    <tr>
                        <td>
                           {{item.name}}
                        </td>
                        <td>
                            {{item.length}}
                        </td>
                    </tr>
                </tbody>
            
        </table>
    </div>
</div>



