<div class="page-layout simple tabbed">
  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>

<div class="col-12">
  <div class="card animated fadeIn slow">
        <div  class="card-header">
          <div class="row ml-3">
            <h3 >Empresas</h3>
            <div class="ml-2">
              <button type="button" class="btn btn-blue" (click)="addEnterprise(template)">Registrar</button>
            </div>
          </div>

          <div class="ng-tns-c94-64 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;">
          <div class="card-body">
            <div  class="table-responsive">
              <table class="table table-xs mb-0">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Creado</th>
                    <th>Actualizado</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody class>
                <tr *ngFor="let row of dataSource; let i=index;">
                  <td  class="text-capitalize" placement="top" [tooltip]="row?.name"  container="body">
                    {{row?.name | textTransform}}
                  </td>
                  <td placement="top" [tooltip]="row?.created"  container="body">
                    {{row?.created | textTransform:20}}
                  </td>
                  <td placement="top" [tooltip]="row?.created"  container="body">
                    {{row?.updated | textTransform:20}}
                  </td>
                  <td placement="top" [tooltip]="row?.description"  container="body">
                    {{row?.description | textTransform:30}}
                  </td>
                  <td>
                    <i *ngIf="row?.active"  placement="top" [tooltip]="'Habilitada'" class="fa fa-check fa-2x text-success"></i>
                    <i *ngIf="!row?.active" placement="top" [tooltip]="'Deshabilitada'" class="fa fa-ban fa-2x icon-danger"></i>
                  </td>
                  <td>

                     <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                          <div class="btn-group dropleft" role="group">
                              <button id="btnGroupDrop1" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-pencil-square-o"></i>
                              </button>
                              <div class="dropdown-menu animated fadeIn slow" aria-labelledby="btnGroupDrop1">
                                <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="editEnterprise(templateEdit, row)">Editar</a>
                                <div *ngIf="row?.active === false; else deshabilitar">
                                  <a type="button" [hidden]="hiddenActive()" (click)="updateActiveEnterprise(row?.id, row?.active)" class="dropdown-item btn-menu text-white text-center">Habilitar</a>
                                </div>
                                <ng-template #deshabilitar>
                                  <a type="button" class="dropdown-item btn-menu text-white text-center"
                                     [hidden]="hiddenActive()"
                                     (click)="updateActiveEnterprise(row?.id, row?.active)">Deshabilitar</a>
                                </ng-template>
                              </div>
                          </div>
                      </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div  *ngIf="noData" class="alert alert-primary animated fadeIn slow text-center" role="alert">
                  <label class="mr-3">{{noDataMessage}}</label> <i (click)="getEnterprise()" title="Refrescar tabla" style="cursor: pointer;" class="fa fa-refresh fa-1x" ></i>
              </div>
              <div  class="col-md-12 mt-3"  *ngIf="dataSource && dataSource.length > 0">
                <mat-paginator
                  (page)="handlePageEvent($event)"
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [showFirstLastButtons]="showFirstLastButtons"
                  [pageSizeOptions]="pageSizeOptions"
                  [pageIndex]="pageIndex">
                </mat-paginator>
              </div>
            </div>
           </div>
        </div>
      </div>
  </div>
</div>


<ng-template #template>
  <add-enterprise-modal [modal_ref]="modalRef" (executeAddEnterprise)="getEnterprise()"></add-enterprise-modal>
</ng-template>


<ng-template #templateEdit>
  <app-edit-enterprise-modal [modal_ref]="modalRef" [dataEdit]="dataEdit" (executeUpdateEnterprise)="getEnterprise()"></app-edit-enterprise-modal>
</ng-template>
