
<div class="modal-heade btn-blue">
    <div class="card-header btn-blue text-white">
       Campos a parear
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="handelCancel()">
              <span aria-hidden="true">&times;</span>
        </button>

    </div>
</div>
<div class="card-body" *ngIf="llaves" >
    <div class="table-responsive">
        <table class="table table-xs">
                <thead>
                    <tr>
                        <th class="text-center" *ngFor="let item of originDest" >
                            {{item}}
                        </th>
                    </tr>
                </thead>   
                <tbody>
                    <tr>
                        <td class="text-center" *ngFor="let item of keys">
                              {{item}}
                        </td>
                    </tr>
                </tbody>
            
        </table>
    </div>
</div>
<div class="card-body" *ngIf="datos" >
    <div class="table-responsive">
        <table class="table table-xs">
                 <tbody>
                    <div class="row"  >
                        <div class="col-12" *ngFor="let item of data" [innerHTML]="getKeys(item)"></div>
                    </div>
                </tbody>   
        </table>
    </div>
</div>
<div class="card-body" *ngIf="datosConci" >
    <div class="table-responsive">
        <table class="table table-xs">
                 <tbody>
                    <div class="row" *ngFor="let item of dataConciliada" >
                        <div class="col-6" *ngFor="let j of item" [innerHTML]="getKeys(j)"></div>
                    </div>
                </tbody>   
        </table>
    </div>
</div>