<div class="page-layout simple tabbed">
    <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
    </div>
    <div class="card ml-30">
      <div  class="card-header">
        <div fxLayout="row">
            <h3>Editar</h3>
            <div class="ml-10">
            </div>
        </div>
        <hr>
        <form  class="form-horizontal" [formGroup]="form">
            <div class="form-group row ml-2">
                <div class="col-md-3">
                    <label >Nombre</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input maxlength="30" formControlName="name" type="text" class="form-control" placeholder="Nombre"    (keyup)="isChange($event)">
                        </div>
                    </div>
                </div>
              
                <div class="col-md-3 ml-2">
                       <label>Seleccionar template</label>
                       <div class="form-group">
                           <div class="input-group">
                               <select (change)="getHeader()" formControlName="template" class="form-control" (change)="focusout()" (change)="isChange($event)">
                                   <option value="" disabled >Seleccionar template</option>
                                   <option [value]="i?.id" *ngFor="let i of selectedTemplate" >
                                       {{i.name}}
                                   </option>
                               </select>
                           </div>
                       </div>
                   </div>
            </div>
        </form>
                <div class="card-body">
                        <table class="table table-xs animated fadeIn slow" *ngIf="selectedTemplate && selectedTemplate.length > 0" >
                            <thead>
                                <tr class="text-center">
                                    <th>Nombre</th>
                                    <th>Longitud</th>
                                    <th>check</th>
                                </tr>
                            </thead>
                                <tbody *ngFor="let item of headers; let i = index" >
                                    <tr class="text-center">
                                        <td class="text-capitalize">
                                         {{item.name}}
                                        </td>
                                        <td>
                                          {{item.length}}
                                        </td>
                                        <td>
                                            <input formControlname="check" [checked]="code.indexOf(item?.code) != -1" type="checkbox" (change)="onChange(item, $event, i)" (change)="isChange($event)">
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    
                </div>
        <div *ngIf="headers && headers.length > 0" class="form-group float-right">
            <div class="input-group">
                <button [disabled]="isCheck || form?.invalid" class="btn btn-md btn-blue" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

