<div class="page-layout simple tabbed">


  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>
  <div class="card ml-30">
    <div  class="card-header">
      <div fxLayout="row">
        <h3 >{{title}}</h3>
        <div class="ml-10">
          <button type="button" class="btn btn-blue" (click)="openAddInterface()">
            Registrar</button>
        </div>
      </div>

     
        <div class="card-body">
            <table class="table table-xs animated fadeIn slow">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Templates</th>
                <th>Creado</th>
                <th>Actualización</th>
                <th>Creado por</th>
                <th>Ejecución</th>
                <th>Conexión</th>
                <th>Url</th>
                <th>Ruta origen</th>
                <th>Usuario conexión</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of dataSource" >

                <td class="text-capitalize" placement="top" [tooltip]="row?.name"  container="body">
                  {{row?.name | textTransform}}
                </td>
                <td placement="top" [tooltip]="row?.template_name" container="body">
                  {{row?.template_name | textTransform }}
                </td>
                <td placement="top" [tooltip]="row?.created"  container="body">
                  {{row?.created | textTransform:20}}
                </td>
                <td placement="top" [tooltip]="row?.updated"  container="body">
                  {{row?.updated | textTransform:20}}
                </td>
                <td placement="top" [tooltip]="row?.first_name"  container="body">
                  {{row?.first_name | textTransform}}
                </td>
                <td placement="top" [tooltip]="row?.cron_time_text"  container="body">
                  {{row?.cron_time | textTransform}}
                </td>
                <td placement="top" [tooltip]="row?.e_origin"  container="body">
                  {{row?.e_origin | textTransform}}
                </td>
                <td placement="top" [tooltip]="row?.e_url"  container="body">
                  {{row?.e_url | textTransform}}
                </td>
                <td placement="top" [tooltip]="row?.e_entry_dir"  container="body">
                  {{row?.e_entry_dir | textTransform}}
                </td>
                <td placement="top" [tooltip]="row?.username"  container="body">
                  {{row?.username | textTransform}}
                </td>
                <td>
                  <i *ngIf="row?.active"  placement="top" [tooltip]="'Habilitada'" class="fa fa-check fa-2x text-success"></i>
                  <i *ngIf="!row?.active" placement="top" [tooltip]="'Deshabilitada'" class="fa fa-ban fa-2x icon-danger"></i>
                </td>
                <td>
                  <!-- <button type="button " class="btn btn-primary " (click)="editUser(row) "><i class="fa fa-edit "></i></button> -->
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                    <div class="btn-group dropleft" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                      <div class="dropdown-menu animated fadeIn slow" aria-labelledby="btnGroupDrop1">
                        <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openEditInterface(row?.id)">Editar</a>
                        <div *ngIf="!row?.active; else deshabilitar" >
                          <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openUpdateActiveInterfaces(row?.id,true)">Habilitar</a>
                        </div>
                        <ng-template #deshabilitar>
                          <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openUpdateActiveInterfaces(row?.id,false)">Deshabilitar</a>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div  *ngIf="noData" class="alert alert-primary animated fadeIn slow text-center" role="alert">
              <label class="mr-3">{{noDataMessage}}</label> <i (click)="getInterfaces()" title="Refrescar tabla" style="cursor: pointer;" class="fa fa-refresh fa-1x" ></i>
            </div>
             <div  class="col-md-12 mt-3"  *ngIf="dataSource && dataSource.length > 0">
                <mat-paginator
                  (page)="handlePageEvent($event)"
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [showFirstLastButtons]="showFirstLastButtons"
                  [pageSizeOptions]="pageSizeOptions"
                  [pageIndex]="pageIndex">
                </mat-paginator>
              </div>
          
        </div>
      
    </div>
  </div>


