<div class=" page-layout simple tabbed ">
    <div class="header " fxLayout="column " fxLayoutAlign="flex-start " fxLayout.gt-xs="row ">
    </div>

    <div class="col-12">
        <div class="card animated fadeIn slow">
            <div class="card-header ">
                <div class="row ml-3">
                    <h3 class="card-title">Usuarios</h3>
                    <div class="ml-2">
                        <button type="button " class="btn btn-blue mr-3" (click)="openModalCreate(templateCreate) ">Registrar</button>
                    </div>

                </div>

                <div class="ng-tns-c94-64 ng-trigger ng-trigger-collapsedCard ng-star-inserted " style="overflow: hidden; ">
                    <div class="card-body ">
                        <div class="table-responsive">
                            <table class="table table-xs mb-0">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Email
                                        <th>Verificado</th>
                                        <th>Empresa</th>
                                        <th>Creado</th>
                                        <th>Actualizado</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of dataSource; let i=index; ">

                                        <td placement="top" [tooltip]="row?.username"  container="body">
                                            {{row?.username | textTransform}}
                                        </td>
                                        <td placement="top" [tooltip]="row?.firstName"  container="body">
                                            {{row?.firstName | textTransform}}
                                        </td>
                                        <td placement="top" [tooltip]="row?.lastName"  container="body">
                                          {{row?.lastName | textTransform}}
                                        </td>
                                        <td placement="top" [tooltip]="row?.email"  container="body">
                                            {{row?.email | textTransform:25}}
                                        </td>
                                        <td>
                                          <i *ngIf="row?.emailVerified" placement="top" [tooltip]="'Verificado'" class="fa fa-check fa-2x text-success"></i>
                                          <i *ngIf="!row?.emailVerified" placement="top" [tooltip]="'No verificado'" class="fa fa-ban fa-2x icon-danger"></i>
                                        </td>
                                        <td placement="top" [tooltip]="row?.schemaName"  container="body">
                                          {{row?.schemaName | textTransform}}
                                        </td>
                                        <td placement="top" [tooltip]="row?.created"  container="body">
                                            {{row?.created| textTransform:20}}
                                        </td>
                                        <td placement="top" [tooltip]="row?.updated"  container="body">
                                          {{row?.updated| textTransform:20}}
                                        </td>
                                        <td>
                                          <i *ngIf="row?.active" placement="top" [tooltip]="'Habilitado'" class="fa fa-check fa-2x text-success"></i>
                                          <i *ngIf="!row?.active" placement="top" [tooltip]="'Deshabilitado'" class="fa fa-ban fa-2x icon-danger"></i>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                                                <div class="btn-group dropleft" role="group">
                                                    <button [disabled]="hiddenEdit(row.role)" id="btnGroupDrop1" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </button>
                                                    <div class="dropdown-menu animated fadeIn slow" aria-labelledby="btnGroupDrop1">
                                                        <a type="button" class="dropdown-item btn-menu text-white text-center" [hidden]="hiddenEdit(row.role) || !row.active" (click)="openModalEdit(templateEdit, row)">Editar</a>
                                                        <div *ngIf="row.active === false; else deshabilitar" >
                                                        <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="openUpdateActiveUser(row?.id,true)">Habilitar</a>
                                                        </div>
                                                        <ng-template #deshabilitar>
                                                        <a type="button" class="dropdown-item btn-menu text-white text-center"
                                                           [hidden]="isUserLog(row.username, row.role)"
                                                           (click)="openUpdateActiveUser(row?.id,false)">Deshabilitar</a>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="noData"   class="alert alert-primary animated fadeIn slow text-center" role="alert">
                                <label class="mr-3">{{noDataMessage}}</label> <i (click)="getAllUser()" title="Refrescar tabla" style="cursor: pointer;" class="fa fa-refresh fa-1x" ></i>
                            </div>
                          <div  class="col-md-12 mt-3"  *ngIf="dataSource && dataSource.length > 0">
                          <mat-paginator
                            (page)="handlePageEvent($event)"
                            [length]="totalItems"
                            [pageSize]="pageSize"
                            [showFirstLastButtons]="showFirstLastButtons"
                            [pageSizeOptions]="pageSizeOptions"
                            [pageIndex]="pageIndex">
                          </mat-paginator>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateCreate>
    <app-add-user-modal [modalRef]="modalRef" [roless]= roles (executeAddUser)="getAllUser()"></app-add-user-modal>
</ng-template>
<ng-template #templateEdit>
    <app-edit-user-modal  [userData]="user" [modalRef]="modalRef" [roless]= roles (executeEditUser)="getAllUser()"></app-edit-user-modal>
</ng-template>
