<div class="container">
  <div class="img">
  </div>
  <div class="login-content">
    <form [formGroup]="form" class="w-100 mtt-10">
      <div class="logo mbt10">
        <img class="br-50" src="/assets/img/logo.jpeg" alt="">
      </div>
      <h1 class="text-blue">Registro</h1>
      <div [ngClass]="{'input-div2' : userNameValid, 'mbb-0': userNameInvalid || usernameInvalidLength }"  class="input-div one">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div class="div" >
          <h5>Usuario</h5>
          <input type="text" formControlName="user_name" class="input"
                 appValidateNotBlank
                 onlyLetters
                 maxlength="20"
                 (click)="onClick('user_name')"
                 [class.is-invalid]="userNameInvalid || usernameInvalidLength">
        </div>
      </div>
      <span *ngIf="userNameInvalid" class="text-danger float-right">
           {{'Campo requerido.'}}
      </span>
      <span *ngIf="usernameInvalidLength" class="text-danger float-right">
       {{'Campo mínimo 3 caracteres.'}}
      </span>
      <div [ngClass]="{'input-div2' : emailValid, 'mbb-0': emailInvalid }"  class="input-div pass">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div class="div w-100" >
          <h5>Email</h5>
          <input type="email" formControlName="email" class="input"
                 appValidateNotBlank
                 (click)="onClick('email')"
                 [class.is-invalid]="emailInvalid">
        </div>
      </div>
      <span *ngIf="emailInvalid" class="text-danger float-right">
       {{'Campo inválido.'}}
      </span>
      <!--  <div [ngClass]="{'input-div2' : passwordValid, 'mbb-0': passwordInvalid || comparePassUserName || passwordInvalidLength}" class="input-div pass">
          <div class="i">
            <i class="fa fa-lock"></i>
          </div>
          <div class="div">
            <h5>Contraseña</h5>
            <input
              formControlName="password"
              class="input"
              [type]="hidePassword ? 'password' : 'text'"
              [class.is-invalid]="passwordInvalid || comparePassUserName || passwordInvalidLength">
            <div class="input-group-addon">
              <a type="button" class="dropdown-item btn-white text-white text-right" (click)="hidePassword = !hidePassword">
                <i class="fa icon"  aria-hidden="true" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}"></i>
              </a>
            </div>
          </div>
        </div>
        <span *ngIf="passwordInvalid" class="text-danger float-right">
         {{'Campo requerido.'}}
        </span>
        <span *ngIf="comparePassUserName" class="text-danger float-right">
          {{'La contraseña no puede ser igual al usuario.'}}
        </span>
        <span *ngIf="passwordInvalidLength" class="text-danger float-right">
         {{' Campo mínimo 8 caracteres.'}}
        </span>

        <div [ngClass]="{'input-div2' : confirmPasswordValid, 'mbb-0': confirmPasswordInvalid || passwordIsDifferent}" class="input-div pass">
          <div class="i">
            <i class="fa fa-lock"></i>
          </div>
          <div class="div">
            <h5>Confirmar contraseña</h5>
            <input
              class="input"
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirm_password">
            <div class="input-group-addon">
              <a type="button" class="dropdown-item btn-white text-white text-right" (click)="hideConfirmPassword = !hideConfirmPassword">
                <i class="fa icon"  aria-hidden="true" [ngClass]="{'fa-eye-slash': hideConfirmPassword, 'fa-eye': !hideConfirmPassword}"></i>
              </a>
            </div>
          </div>
        </div>
        <span *ngIf="confirmPasswordInvalid" class="text-danger float-right">
          {{'Campo requerido.'}}
        </span>
        <span *ngIf="passwordIsDifferent" class="text-danger float-right">
          {{'Las contraseñas no coinciden.'}}
        </span>-->

        <div [ngClass]="{'input-div2' : enterpriseNameValid, 'mbb-0': enterpriseNameInvalid}" class="input-div pass">
          <div class="i">
            <i class="fa fa-list-alt "></i>
          </div>
          <div class="div">
            <h5>Nombre de la empresa</h5>
            <input
              type="text"
              formControlName="enterprise_name"
              class="input"
              (click)="onClick('enterprise_name')"
              [class.is-invalid]="enterpriseNameInvalid" >
          </div>
        </div>
        <span *ngIf="enterpriseNameInvalid" class="text-danger float-right">
             {{'Campo requerido.'}}
        </span>
        <div [ngClass]="{'input-div2' : enterpriseCodeValid, 'mbb-0': enterpriseCodeInvalid || isError}" class="input-div pass">
          <div class="i">
            <i class="fa fa-list-alt "></i>
          </div>
          <div class="div">
            <h5>Código de la empresa</h5>
            <input
              type="text"
              formControlName="enterprise_code"
              class="input"
              (click)="onClick('enterprise_code')"
              [class.is-invalid]="enterpriseCodeInvalid" >
          </div>
        </div>
        <span *ngIf="enterpriseCodeInvalid" class="text-danger float-right">
             {{'Campo requerido.'}}
        </span>
        <span *ngIf="isError" class="text-danger float-right">
             {{testError}}
        </span>
        <button type="button" (click)="handelSave()" [disabled]="form?.invalid || spinner || isError" class="btn mt-5 btn-blue text-white">
          <span>{{!spinner ? 'Registrar': 'Registrando...'}}</span>
          <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>

