// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";


// If you want to add something do it here
@import "custom";
.login-class {
  margin-right: 10px;
  cursor: pointer;
}

.btn-blue {
  background: #153f59 !important;
  color: white !important;

}
.fl-right {
  float: right;
}

.btn-menu {
  background: #7498b6 !important;

}

.no-border {
  border: unset!important;
  padding: 0.5rem 0!important;
}

.not-elements {
  font-size: 12px;
  text-align: center;
}

.item-steps {
  margin-left: 10px;
}
.fw-bold {
  font-weight: bold;
}

.list-group-numbered {
  display: list-item;
}

.btn-menu:hover {
  background: #153f59 !important;
}

.text-blue {
  color: #153f59 !important;
}

.sidebar .nav-link.active {
  color: #fff !important;
  background: #365b77 !important;
  // background-image: radial-gradient(circle at 120.71% 50%, #000a23 0, #02152b 25%, #021d34 75%, #153f59 75%, #365b77 100%) !important;
}

.app-root {
  width: 100%;
  background: url('/assets/img/fondo.jpeg') no-repeat;
  background-size: cover;
}

.icon-danger {
  color: red;
}



// .table th,
// .table td {
//   padding: 0rem;
//   vertical-align: unset;
// }

.table thead th {
  padding: 0rem;
  vertical-align: bottom;
  border-bottom: 2px solid #c8ced3;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

// .table th, .table td {
//     padding-top: 0.50rem !important;
//     padding-bottom: 0.50rem !important;
//     vertical-align: top !important;
//     border-top: 1px solid #c8ced3 !important;
// }

.table td, .table th {
     padding: 0rem !important;
    vertical-align: top !important;
    border-top: 1px solid #c8ced3 !important;
    padding-bottom: 0.50rem !important;
    padding-top: 0.50rem !important;
}

.btn{
      padding: .275rem .50rem !important;
}


.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.875rem;
    color: #78f2f8 !important;
    text-align: center;
}

.mat-paginator {
  background: #f0f3f5 !important;
}


.table {
  margin-bottom: 0rem !important;
}
