<div class="page-layout simple tabbed">
  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>

<div class="col-12">
  <div class="card animated fadeIn slow">
        <div  class="card-header">
          <div class="well well-lg card card-block card-header mt-2 mb-0 border-0">
          <div class="row">
            <div class="col-md-4">
              <h3>Conciliaciones</h3>
             </div>
            <div class="col-md-4 offset-md-4 text-right">
              <button type="button" class="btn btn-blue" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                       <i class="fa fa-sliders fa-lg "></i>
              </button>
            </div>
          </div>
          
            <div id="collapseBasic" [collapse]="isCollapsed" class="animated fadeIn slow">
                <form class="form-horizontal" [formGroup]="form">
        
                  <div class="row align-items-end justify-content-end mt-3">
                    <div class="col-md-3 col-sx-3">
                      <label >Seleccionar conciliaci&oacute;n</label>
                      <select class="form-control" formControlName="code">
                        <option [ngValue]="null" disabled>Opciones</option>
                        <option *ngFor="let item of conciliaciones" [value]="item?.code" >
                          {{ item?.name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-3 col-sx-3">
                     <label >Tipo de reporte</label>
                     <select class="form-control" formControlName="type_report">
                       <option *ngFor="let item of typeReport" [value]="item?.id" >
                         {{ item?.name }}
                       </option>
                     </select>
                   </div>
              
                    <div class="col-md-3 col-sx-3 " >
                      <label >Seleccionar fecha</label>
                      <input type="text" 
                            class="form-control"
                            placeholder="Desde/Hasta"  
                            bsDaterangepicker
                            formControlName="start_date"  
                            [bsConfig]="bsConfig"  
                            placement="left"
                            [(ngModel)]="bsRangeValue"/>      
                    </div>
                   <div class="col-md-1 col-sx-2 " >
                          <button type="button" [disabled]="form?.invalid" class="btn btn-blue btn-filter" (click)="filter()">Filtrar</button>
                    </div>
                  </div>


                  <div class="row align-items-end  justify-content-end mt-5" *ngIf="transacciones && transacciones.length > 0">
                    <div class="col-md-3 col-sx-3">
                      <label >Total conciliadas</label>
                      <input  formControlName="totalConciliated" type="text" class="form-control text-center">
                    </div>
                    <div class="col-md-3 col-sx-3">
                    <label >Total no conciliadas ({{name1}})</label>
                      <input formControlName="totalNotConciliated1" type="text" class="form-control text-center">
                   </div>
              
                    <div class="col-md-3 col-sx-3"  >
                     <label >Total no conciliadas ({{name2}})</label>
                      <input formControlName="totalNotConciliated2" type="text" class="form-control text-center">
                    </div>
                     <div class="col-md-1 col-sx-2 animated fadeIn slow" *ngIf="transacciones && transacciones.length > 0">
                      <button type="button" 
                              class="btn btn-success btn-filter" 
                              placement="top" 
                              tooltip="Exportar excel"  
                              container="body"
                              (click)="downloadExcel()">
                          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                      </div>
                  </div>
                  
                  <!-- <div class="row justify-content-center mt-3" *ngIf="transacciones && transacciones.length > 0" >

                    <div class="col-md-3 col-sx-3 ">
                        <label >Total conciliadas</label>
                      <input  formControlName="totalConciliated" type="text" class="form-control text-center">
                    </div>
                    <div class="col-md-3 col-sx-3">
                        <label >Total no conciliadas ({{name1}})</label>
                      <input formControlName="totalNotConciliated1" type="text" class="form-control text-center">
                    </div>
                    <div class="col-md-3 col-sx-3 ">
                        <label >Total no conciliadas ({{name2}})</label>
                      <input formControlName="totalNotConciliated2" type="text" class="form-control text-center">
                    </div>
                    
                  </div> -->
                    
                    
                </form> 
                  <div class="row"> 
                    <div class="col-md-12 mt-3">
                           <table class="table animated fadeIn slow table-xs mb-0 mt-3" *ngIf="transacciones && transacciones.length > 0">
                             <thead >
                               <tr>
                                 <th>Estado &nbsp;&nbsp;&nbsp;&nbsp;</th>
                                 <th>Fecha &nbsp;&nbsp;&nbsp;&nbsp;</th>
                                 <th>Actualizado &nbsp;&nbsp;&nbsp;&nbsp;</th>
                                 <th>Interface 1 &nbsp;&nbsp;&nbsp;&nbsp;</th>
                                 <th>LLaves de pareo &nbsp;&nbsp;&nbsp;&nbsp;</th>
                                 <th>Interface 2 &nbsp;&nbsp;&nbsp;&nbsp;</th>
                                 <th>Datos &nbsp;&nbsp;&nbsp;&nbsp;</th>
                               </tr>
                             </thead>
                             <tbody >
                             <tr *ngFor="let row of transacciones; let i=index;">
                               <td  placement="top" [tooltip]="row?.status"  container="body" >
                                 {{row?.status}}
                               </td>
                               <td placement="top" [tooltip]="row?.time"  container="body">
                                 {{row?.time | textTransform:10}} &nbsp;&nbsp;&nbsp;&nbsp;
                               </td>
                               <td placement="top" [tooltip]="row?.update"  container="body">
                                 {{row?.update | textTransform:10}} &nbsp;&nbsp;&nbsp;&nbsp;
                               </td>
                               <td placement="top" [tooltip]="row?.interface_origin"  container="body">
                                 {{row?.interface_origin  | textTransform:10}} &nbsp;&nbsp;&nbsp;&nbsp;
                               </td>
                               <td style="cursor: pointer;" placement="top" tooltip="Ver campos a parear"  container="body" (click)="openModalKeys(template, row.details, row.keys_origin, row.keys_dest, row.interface_origin, row.interface_dest)">
                                   LLaves <i class="fa fa-eye text-primary" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                               </td>
                               <td placement="top" [tooltip]="row?.interface_dest"  container="body">
                                 {{row?.interface_dest  | textTransform:10}} &nbsp;&nbsp;&nbsp;&nbsp;
                               </td>
                               <td style="cursor: pointer;" placement="top" tooltip="Ver campos a parear"  container="body" (click)="openModalData(template,row?.details, row?.status)">
                                   Datos <i class="fa fa-eye text-primary" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                               </td>
                               <td *ngFor="let item of values" placement="top" [tooltip]="item"  container="body">{{item | textTransform:10}} &nbsp; &nbsp;&nbsp;&nbsp;</td>
                               
                             </tr>
                             </tbody>
                           </table>
                        
                           
                            
                       
                         
                         <div  *ngIf="noData" class="alert alert-primary animated fadeIn slow text-center" role="alert">
                            <label class="mr-3">{{noDataMessage}}</label>
                        </div>
                     
                    

                    </div>
                     <div  class="col-md-12 mt-3"  *ngIf="transacciones && transacciones.length > 0">
                      <mat-paginator
                        (page)="handlePageEvent($event)"
                        [length]="totalItems"
                        [pageSize]="pageSize"
                        [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="pageSizeOptions"
                        [pageIndex]="pageIndex">
                      </mat-paginator>
                
                     </div>

                  </div> 
                </div>
              
              
      </div>
  </div>
</div>

<ng-template #template>
  <app-report-conciliation-modal [modal_ref]="modalRef" [keys]="keys" [data]="data" [originDest]="originDest" [dataConciliada]="dataConciliada"></app-report-conciliation-modal>
</ng-template>

    



