.header {
  //   text-align: center;
  background: #153f59;
  //  color: white;
  //  font-size: 20px;
  //  font-weight: normal;
  height: 150px;
}

.btn-blue {
  background: #153f59;
  color: white;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.card {
  margin-top: -50px;

}

.table-container {
  position: relative;
  border-radius: 8px;
}

.table-responsive {
  display: block;
  width: 100%;
  max-height: 400px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.red {
  color: red;
}

tr{
    text-align: center;
}

// .btn-filter{
//   width: 100% !important;
// }

.mr-col{
   margin-right: 7rem;
}

@media(max-width: 1080px) {
  .btn-filter {
    margin-top: 15px;
  }
}
@media(max-width: 1080px) {
  label {
    display: block;
  }
}
@media(min-width: 766) {
  .mr-col {
     margin-right: 0rem;
  }
}


