<div class="page-layout simple tabbed">
  <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
  </div>

  <div class="card ml-30">
    <div  class="card-header">
      <div fxLayout="row">
        <h3>Generar configuraci&oacute;n conciliaci&oacute;n</h3>
      </div>
      <hr>
      <div class="ml-10">
        <form class="form-horizontal" [formGroup]="newForm">
          <div class="form-group row">
            <div class="col-md-3">
              <label >Nombre de la conciliaci&oacute;n</label>
              <div class="form-group">
                <div class="input-group">
                  <input
                    formControlName="conciliation_name"
                    type="text"
                    class="form-control"
                    placeholder="Nombre de la conciliaci&oacute;n"
                    [class.is-invalid]="conciliationNameNotValid"
                    [class.is-valid]="conciliationNameValid"
                    maxlength="30">
                </div>
                <span *ngIf="conciliationNameNotValid" class="text-danger float-right">
                    Campo requerido *
                  </span>
              </div>
            </div>
          </div>

          <div class="mt-20">
            <div class="m-10 row-connection">
              <div class="mtp-5">
                Hora de la configuraci&oacute;n
              </div>
              <div class="col-md-5 mbm-0">
                <input
                  class="form-control"
                  readonly
                  name="cron"
                  formControlName="cronForm"
                  [value]="cronValue">
              </div>
            </div>
            <div class="card mt-0 w-100">
              <div class="form-group cron-class my-vertical-cron">
                <quartz-cron [formControlName]="'cronForm'" [(ngModel)]="cronValue"></quartz-cron>
              </div>
            </div>

          </div>

        </form>
       <form class="form-horizontal" [formGroup]="form">
          <div class="mt-20 mb-5">
            <div class="row justify-content-between">
              <div class="col-md-12">
                <h4>Interfaces de pareo</h4>
              </div>
            </div>
            <hr>
            <div class="row justify-content-between">
              
              <div class="col-4">
                <div class="input-group">
                    <select #mySelect (change)="onInterfaceSelected(mySelect?.value)" formControlName="interface_name" class="form-control">
                      <option value="null" disabled>Seleccione</option>
                      <option [value]="item?.id" *ngFor="let item of interfaces">
                        {{ item?.name }}
                      </option>
                    </select> 
                </div>
              </div>  
              <div class="col-md-4 offset-1">
                <div  *ngIf="selectedItems && selectedItems.length > 0"  class="form-group">
                  <label class=" animated fadeIn slow">
                  Interfaces seleccionadas: {{ selectedItems.length }}
                  </label>
                  <div class=" animated fadeIn slow">
                    <span
                    class="badge badge-pill badge-primary p-2 mr-2 mb-2"
                    *ngFor="let item of selectedItems">
                    {{ item?.name }}
                    </span>
                  </div>
                </div>
              </div>          
              <div class="col-md-3">
                <button type="button" class="btn btn-blue float-right btn-md animated fadeIn slow" (click)="resetkey()"  *ngIf="tabs.length">
                  Limpiar
                </button> 
              </div>
              
            </div>
          </div>


           <!-- <div class="mt-20 mb-5  animated fadeIn slow">
            <hr>
            <div class="row mb-5 align-items-end animated fadeIn slow">
              <div class="col-md-4"> 
                <h4>Salida</h4>
              </div>
             
            </div>
            <div class="row">
              <div class="col-3 mb-5 align-self-end">
                <label>Seleccionar destino de salida</label>
                    <select class="form-control" formControlName="out" (change)="outChange()">
                      <option value="" selected>Seleccione</option>
                      <option [value]="item?.id" *ngFor="let item of dataSource">
                        {{ item?.name }}
                      </option>
                    </select> 

              </div>
              <div class="col-3 mb-5 align-self-end">
                <label>Seleccionar transacciones de salida</label>
                <select class="form-control" formControlName="typeConciliation" >
                  <option [value]="item?.id" *ngFor="let item of typeConciliation">
                    {{ item?.name }}
                  </option>
                </select> 
              </div>
            </div>
          
            
            <div formArrayName="interfaces" *ngIf="selectedItems && selectedItems.length > 0">
              <div class="row">
              <div *ngFor="let j of getInterface.controls; let i = index" [formGroupName]="i" class="col-6">
                <div class="row mt-3">
                  <div class="col-6 align-self-end"  >
                     <label>Nombre de la interfaz</label>
                    <input  disabled type="text" formControlName="name" class="form-control">
                   
                   
                  </div>
                    <div class="col-6 align-self-end">
                      <label>Seleccione template de salida</label>
                    <select  *ngIf="activeSelect" disabled formControlName="templateOut" class="form-control" (focus)="touched(j.value.id)" >
                      <option value="" selected>Seleccione</option>
                      <option [value]="item?.id" *ngFor="let item of templateOut[j.value.id]">
                        {{ item.name }}
                      </option>
                    </select> 
                    <select *ngIf="!activeSelect" formControlName="templateOut" class="form-control" (focus)="touched(j.value.id)" >
                      <option value="" selected>Seleccione</option>
                      <option [value]="item?.id" *ngFor="let item of templateOut[j.value.id]">
                        {{ item.name }}
                      </option>
                    </select> 

                  </div>

                </div>
                </div>
              </div>    
            </div>
            
            
          </div>  -->
            
            <div class="mt-20">
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <h4>LLave de conciliaci&oacute;n</h4>
                </div>
              </div>
              <hr>
              <div class="row justify-content-between">
                
                <div class="col-md-12">
                  <button type="button" class="btn btn-md btn-blue float-right " (click)="addNewTab()">Adicionar</button> 
                </div>
              </div>
              <br>
              <div (click)="$event.preventDefault()">
        
              <tabset>
                <tab class="animated fadeIn slow" 
                    *ngFor="let tabz of tabs"
                    [heading]="tabz.title"
                    [active]="tabz.active"
                    (selectTab)="tabz.active = true"
                    (deselect)="tabz.active = false"
                    [disabled]="tabz.disabled"
                    [removable]="tabz.removable"
                    (removed)="removeTabHandler(tabz)"
                    [customClass]="tabz.customClass">
                     <div class="row ml-0 mr-0">
                       <div class="col-6 " *ngFor="let item of dinamicData[tabz.title]?.data; let i = index">
                             <div class="row ml-0 mr-0 mt-3" >
                               <div class="col-6 float-center">
                                 <label> {{ item.name }}</label>   
                               </div>
                             </div>
                          <div class="row ml-0 mr-0 mt-3" >
                             
                            <div class="col-6">
                              <label>Dato</label>   
                             <select #mySelect (change)="addCode(mySelect?.value, $event,tabz.title, item, i )" class="form-control" [formControlName]="tabz.title + '.' + item.name + '.name' " (change)="onChangeDato($event.target.value, tabz.title)">
                                <option [ngValue]="null" disabled>Seleccione campo</option>
                                <option [value]="row?.name" *ngFor="let row of item?.template_header" >
                                  {{ row?.name}}
                                </option>
                              </select>
                            </div>
                            <div class="col-6">
                            <label>Tipo de dato</label>
                             <select   class="form-control" [formControlName]="tabz.title + '.' + item.name + '.type'" (change)="onKey($event,tabz.title, item, i )" (change)="onChangeTipoDato($event.target.value, tabz.title)">
                              <option [ngValue]="null" disabled>Seleccione tipo de dato</option>
                              <option [value]="row?.name" [id]="row.id" *ngFor="let row of DataType" >
                                {{ row.name}}
                              </option>
                            </select>
                          </div>
                            <div class="col-1" *ngIf=" item.decimal" >
                              <label>Precision</label>
                              <input [formControlName]="tabz.title + '.' + item.name + '.precision'" min="0" type="number" class="form-control"  placeholder="Precici&oacute;n">
                            </div>
                           
                          </div>
                        </div>
                     </div>
                </tab>
              </tabset>
            </div>
            </div>
               <!-- <div class="m-10 mt-20">
                Datos de conexión
              </div> -->
              <!-- <div class="card mt-0 w-100">
                <div class="form-group row-connection mbm-0">
                  <div class="col-md-3 mtp-15">
                      <label>Tipo de conexión</label>
                      <div class="form-group">
                        <div class="input-group">
                          <select #mySelectOrigin (change)='onConnectionTypeSelected(mySelectOrigin?.value)' [(ngModel)]='connSelect' class="form-control">
                            <option [ngValue]="null" disabled>Selecione un tipo</option>
                            <option [value]="form?.tc_origin" *ngFor="let form of conection_origen">
                              {{ form?.tc_origin }}
                            </option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6 mtp-15" *ngIf="urlSelected">
                    <label>Url origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              
                              class="form-control"
                              placeholder="http://www.ejemplo.com">
                    </div>
                    <span *ngIf="connectionUrlNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15" *ngIf="sftpSelected">
                    <label>Dirección IP origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                             
                              class="form-control"
                              placeholder="127.0.0.1">
                    </div>
                    <span *ngIf="connectionIpNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15" *ngIf="sftpSelected">
                    <label>Ruta de origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                             
                              class="form-control"
                              placeholder="/user/sftp/in/">
                    </div>
                    <span *ngIf="connectionFolderNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15">
                    <label>Puerto</label>
                    <div class="form-group">
                      <input  type="number"
                              required
                              
                              class="form-control"
                              placeholder="Puerto">
                    </div>
                    <span *ngIf="connectionPortNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                </div>
                <div class="form-group row-connection mbm-0">
                  <div class="col-md-6 mbm-0">
                    <label>Nombre de usuario</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                            
                              class="form-control"
                              placeholder="Usuario">
                    </div>
                    <span *ngIf="connectionUserNameNotValid" class="text-danger float-right">
                        Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-6 mbm-0">
                    <label>Contraseña</label>
                    <div class="form-group">
                      <input  type="password"
                              required
                            
                              class="form-control"
                              placeholder="Contraseña">
                    </div>
                    <span *ngIf="connectionPasswordNotValid" class="text-danger float-right">
                          Campo requerido *
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <button 
                    class="btn btn-sm btn-blues mr-20 mtp-15 float-right" (click)="handelTestConnection()">Probar Conexión</button>
                </div>
                <div class="form-group">
                  <button 
                    class="btn btn-sm btn-blues mr-20 mtp-15 float-right" (click)="handelTestConnection()">Probar Conexión</button>
                </div> 
              </div> 
               <div class="card mt-0 w-100">
                <div class="form-group row-connection mbm-0">
                  <div class="col-md-3 mtp-15">
                      <label>Tipo de conexión</label>
                      <div class="form-group">
                        <div class="input-group">
                          <select #mySelectOrigin (change)='onConnectionTypeSelected(mySelectOrigin?.value)' [(ngModel)]='connSelect' formControlName="connection_type" class="form-control">
                            <option [ngValue]="null" disabled>Selecione un tipo</option>
                            <option [value]="form?.tc_origin" *ngFor="let form of conection_origen">
                              {{ form?.tc_origin }}
                            </option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6 mtp-15" *ngIf="urlSelected">
                    <label>Url origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_url"
                              [class.is-invalid]="connectionUrlNotValid"
                              [class.is-valid]="connectionUrlValid"
                              class="form-control"
                              placeholder="http://www.ejemplo.com">
                    </div>
                    <span *ngIf="connectionUrlNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15" *ngIf="sftpSelected">
                    <label>Dirección IP origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_ip"
                              [class.is-invalid]="connectionIpNotValid"
                              [class.is-valid]="connectionIpValid"
                              class="form-control"
                              placeholder="127.0.0.1">
                    </div>
                    <span *ngIf="connectionIpNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15" *ngIf="sftpSelected">
                    <label>Ruta de origen</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_folder"
                              [class.is-invalid]="connectionFolderNotValid"
                              [class.is-valid]="connectionFolderValid"
                              class="form-control"
                              placeholder="/user/sftp/in/">
                    </div>
                    <span *ngIf="connectionFolderNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-3 mtp-15">
                    <label>Puerto</label>
                    <div class="form-group">
                      <input  type="number"
                              required
                              formControlName="connection_port"
                              [class.is-invalid]="connectionPortNotValid"
                              [class.is-valid]="connectionPortValid"
                              class="form-control"
                              placeholder="Puerto">
                    </div>
                    <span *ngIf="connectionPortNotValid" class="text-danger float-right">
                      Campo requerido *
                    </span>
                  </div>
                </div>
                <div class="form-group row-connection mbm-0">
                  <div class="col-md-6 mbm-0">
                    <label>Nombre de usuario</label>
                    <div class="form-group">
                      <input  type="text"
                              required
                              formControlName="connection_user_name"
                              [class.is-invalid]="connectionUserNameNotValid"
                              [class.is-valid]="connectionUserNameValid"
                              class="form-control"
                              placeholder="Usuario">
                    </div>
                    <span *ngIf="connectionUserNameNotValid" class="text-danger float-right">
                        Campo requerido *
                    </span>
                  </div>
                  <div class="col-md-6 mbm-0">
                    <label>Contraseña</label>
                    <div class="form-group">
                      <input  type="password"
                              required
                              formControlName="connection_password"
                              [class.is-invalid]="connectionPasswordNotValid"
                              [class.is-valid]="connectionPasswordValid"
                              class="form-control"
                              placeholder="Contraseña">
                    </div>
                    <span *ngIf="connectionPasswordNotValid" class="text-danger float-right">
                          Campo requerido *
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <button [disabled]="disableTestConnection"
                    class="btn btn-sm btn-blues mr-20 mtp-15 float-right" (click)="handelTestConnection()">Probar Conexión</button>
                </div>
              </div> -->
          <div class="row mt-3">
              <div class="col align-self-end">
               <button [disabled]="newForm?.invalid || activeButton" class="btn btn-md btn-blue float-right" (click)="handelSave()">Guardar</button>
               <!-- <button  class="btn btn-md btn-blue float-right" (click)="handelSave()">Guardar</button> -->
              </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>

  
