<div class="page-layout simple tabbed">
    <div class="header" fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-xs="row">
    </div>
  
    <div class="card ml-30">
        <div  class="card-header">
            <div fxLayout="row">
            <h3>Probar configuraci&oacute;n conciliaci&oacute;n</h3>
            </div>
            <hr>
            <div class="ml-10">
                <form class="form-horizontal" [formGroup]="test_conc_form">
                    <div class="row">
                        <div class="col-md-6 row-btn">
                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                    #Input1
                                    placeholder="Subir Archivo"
                                    formControlName="file_name"
                                    type="text"
                                    align="center"
                                    readonly
                                    class="form-control text-right">
                                    <button type="button" title="Subir archivo" class="btn btn-sm btn-blues ml-10" (click)="file?.click()"> <i class="fa fa-upload"></i></button>
                                    <input #file type="file" id="file" (change)="handleFileInput($event?.target?.files)" style="display:none;">
                                </div>
                            </div>        
                        </div>
                        <div class="col-md-6  row-btn" >  
                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                    #Input2
                                    formControlName="file_name2"
                                    type="text"
                                    align="center"
                                    placeholder="Subir Archivo"
                                    readonly
                                    class="form-control text-right">  
                                    <button type="button" title="Subir archivo" class="btn btn-sm btn-blues ml-10" (click)="file2?.click()"> <i class="fa fa-upload"></i></button>
                                    <input #file2 type="file" id="file2" (change)="handleFileInput2($event?.target?.files)" style="display:none;">
                                </div>
                            </div>        
                        </div>
                        <div class="col-md-12">
                            <button class="ml-10 btn btn-md btn-blues float-right" (click)="probarConciliacion()">Ejecutar</button>
                        </div>    
                        <br>
                    </div>
                    <br>
                    <div *ngIf="responseServer" class="col-md-12 responseDiv" [innerHTML]="responseMessage"></div>
                    <div  class="table-responsive"> 
                        <table class="table table-xs">
                            <thead>
                                <tr>
                                    <th *ngFor="let interfaz of interfaces">{{interfaz.name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="initialKeys">
                                    <tr *ngFor="let kies of keys; let i = index">
                                        <td *ngFor="let interfaz of interfaces; let k = index">{{kies[k].name}} ({{kies[k].type}})</td>
                                    </tr>  
                                </ng-container>
                                <ng-container *ngIf="responseKeys">
                                     
                                    <tr colspan="6" *ngFor="let kies2 of intKyes2; let j = index">
                                        <td *ngFor="let item of kies2">{{item.name}}: <b>{{item.value}}</b></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>