<div class=" page-layout simple tabbed ">
  <div class="header " fxLayout="column " fxLayoutAlign="flex-start " fxLayout.gt-xs="row ">
  </div>

  <div class="col-12">
    <div class="card animated fadeIn slow">
      <div class="card-header ">
        <div class="row ml-3">
          <h3 class="card-title">Templates salida</h3>
          <div class="ml-10">
            <button type="button" class="btn btn-blue" (click)="add()">
              Registrar
            </button>
          </div>
        </div>

       
          
            
              <table class="table table-xs mb-0 animated fadeIn slow">
                <thead>
                <tr>
                  <th>Nombre salida</th>
                  <th>Nombre template</th>
                  <th>Fecha creado</th>
                  <th>Fecha actualizado</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of dataSource; let i=index; ">
                  <td class="text-capitalize" placement="top" [tooltip]="row?.name"  container="body">
                    {{row?.name | textTransformTemplate}}
                  </td>
                  <td placement="top" [tooltip]="row?.template_name"  container="body">
                    {{row?.template_name | textTransformTemplate}}
                  </td>
                  <td placement="top" [tooltip]="row?.created"  container="body">
                     {{row?.created | textTransformTemplate}}
                  </td>
                  <td placement="top" [tooltip]="row?.updated"  container="body">
                    {{row?.updated | textTransformTemplate}}
                  </td>
                  <td >
                    <i placement="top" tooltip="Habilitado"  container="body" *ngIf="row?.active" class="fa fa-check fa-2x text-success"></i>
                    <i placement="top" tooltip="Deshabilitado"  container="body" *ngIf="!row?.active" class="fa fa-ban fa-2x icon-danger"></i>
                  </td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                      <div class="btn-group dropleft" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <div class="dropdown-menu animated fadeIn slow" aria-labelledby="btnGroupDrop1">
                          <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="edit(row?.id)">Editar</a>
                          <div *ngIf="row?.active === false; else deshabilitar" >
                            <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="updateActive(row?.id,true)">Habilitar</a>
                          </div>
                          <ng-template #deshabilitar>
                            <a type="button" class="dropdown-item btn-menu text-white text-center" (click)="updateActive(row?.id,false)">Deshabilitar</a>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
               <div  *ngIf="noData" class="alert alert-primary animated fadeIn slow text-center" role="alert">
                <label class="mr-3">{{noDataMessage}}</label> <i (click)="getTemplatesOut()" title="Refrescar tabla" style="cursor: pointer;" class="fa fa-refresh fa-1x" ></i>
              </div> 
            
            <div *ngIf="dataSource && dataSource.length > 0" class="col-md-12 mt-3">
              <mat-paginator
                  (page)="handlePageEvent($event)"
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [showFirstLastButtons]="showFirstLastButtons"
                  [pageSizeOptions]="pageSizeOptions"
                  [pageIndex]="pageIndex">
              </mat-paginator>
            </div> 
        
      </div>
    </div>
  </div>
</div>
